<nav class="navbar">
  <div class="container-fluid">

    <div id="navbar">
      <div class="navbar-form navbar-right">

        <!-- <input type="text" class="form-control input-sm file-search" ng-show="config.searchForm" placeholder="{{'search' | translate}}..." ng-model="$parent.query"> -->

        <button class="btn btn-orange btn-sm" ng-click="modal('newfolder') && prepareNewFolder()"
          ng-show="fileNavigator.currentPath.length || rootActions == 'true'">
            <i class="glyphicon glyphicon-plus"></i> {{"new_folder" | translate}}
        </button>
        <button class="btn btn-orange btn-sm" ng-click="modal('uploadfile')"
          ng-show="(fileNavigator.currentPath.length || rootActions == 'true') && config.allowedActions.upload">
            <i class="glyphicon glyphicon-cloud-upload"></i> {{"upload_files" | translate}}
        </button>

        <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" data-toggle="dropdown" aria-expanded="true">
            <i class="glyphicon glyphicon-globe mr2"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenuLang">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('en')">{{"english" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('zh')">{{"chinese" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('es')">{{"spanish" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('pt')">{{"portuguese" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fr')">{{"french" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('de')">{{"german" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('he')">{{"hebrew" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('sk')">{{"slovak" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ru')">{{"russian" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ua')">{{"ukrainian" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('tr')">{{"turkish" | translate}}</a></li>
        </ul> -->

        <button class="btn btn-orange btn-sm" ng-click="$parent.changeTemplate()">
            <i class="glyphicon glyphicon-th-large" ng-show="$parent.viewTemplate !== 'main-icons.html'"></i>
            <i class="glyphicon glyphicon-th-list" ng-show="$parent.viewTemplate !== 'main-table.html'"></i>
        </button>

      </div>
    </div>
  </div>
</nav>
