<div class="row mt-25 center-vertically">
  <div class="col-sm-4 col-sm-offset-4">
    <!-- SIGNUP -->
    <div class="card">
      <div class="card-header ch-alt">
        <h2>Change Password <small>Set a password for your account</small></h2>
      </div>

      <div class="card-body card-padding">
        <form name="changeForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="fg-line">
                  <input style="width: 100%" type="email" name="email_to_change" class="input-sm" ng-model="form.email" ng-value="defaultEmail" placeholder="Email" required disabled>
                </div>  
              </div>
            </div> 
            <div class="col-sm-12" style="display:none">
              <div class="form-group">
                <div class="fg-line">
                  <input style="width: 100%" type="text" name="token" class="input-sm" ng-model="form.token" ng-value="params.token">
                </div>  
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
                <div class="fg-line">
                  <input style="width: 100%" type="password" name="password_new" class="input-sm" ng-model="form.password" placeholder="Password" required>
                </div>  
              </div>
            </div>  
          </div>    
          <div class="form-group">
            <button  ng-click="change(form)" class="btn btn-orange btn-block waves-effect">Change password!</button>
          </div>
          <div class="text-left">Don't you have an account? <a ui-sref="auth.signup" class="m-t-5">Signup</a></div>
          <div class="text-left">Cannot reset password? <a ui-sref="auth.forgot_password" class="m-t-5">Send reset link</a></div>
        </form>

      </div>
    </div>
  </div>
</div>