<div class="row mt-25 center-vertically">
  <div class="col-sm-4 col-sm-offset-4">
    <!-- CHANGE PWD -->
    <div class="card">
      <div class="card-header ch-alt">
        <h2>Change Password <small>Set a new password for your account</small></h2>
      </div>

      <div class="card-body card-padding">
        <form ng-submit="change_password(form)">
          <div class="form-group">
            <div class="fg-line">
              <input type="password" class="form-control input-sm" ng-model="form.password" placeholder="Password" required autofocus>
            </div>
          </div>
          <button type="submit" class="btn btn-orange btn-block waves-effect">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
