  <style>
    .dropdown-basic-demo {
      display: block !important;
    }
  </style>
  <section class="page-view m-t-25">
    <div class="container container-fix-width">

      <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
          <div class="pmo-pic">
            <div class="p-relative">
              <a href="">
                <img class="img-responsive" ng-src="{{company.avatar_url}}" default-src alt="avatar">
              </a>

              <div class="pmop-edit" ng-if="findWithAttr(company.owners, 'id', me.id) != -1 && !creating">
                <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Aggiorna Immagine Profilo</span>
                <input type="file" ngf-select="uploadAvatar($file)" class="upload-avatar-image">
              </div>
            </div>

            <div class="pmo-stat">
              <h2 class="m-0 c-white">
                {{company.name}}
              </h2>
            </div>
          </div>
        </div>

        <div class="pm-body clearfix">
          <ul class="tab-nav tn-justified">
            <li class="btn-wave" data-ui-sref-active="active"><a href="javascript:void(0)">Informazioni</a></li>
            <!-- <li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="profile.timeline">Timeline</a></li> -->
          </ul>
          <div class="pmb-block">
            <div class="pmbb-header">
              <h2><i class="zmdi zmdi-account-circle m-r-5"></i> Informazioni Compagnia</h2>
              <ul class="actions" data-ng-if="!editCompanyInfo && findWithAttr(company.owners, 'id', me.id) != -1">
                <li class="dropdown">
                  <a href="" data-ng-click="toggleCompanyInfo()">
                    <i class="zmdi zmdi-edit"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="pmbb-body p-l-30">
              <div class="pmbb-view" data-ng-if="!editCompanyInfo && !creating">
                <dl class="dl-horizontal">
                  <dt>Nome</dt>
                  <dd>{{ company.name}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Descrizione</dt>
                  <dd>{{ company.description }}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Sede legale </dt>
                  <dd>{{ company.address }}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Email</dt>
                  <dd>{{ company.email }}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Telefono fisso</dt>
                  <dd>{{ company.phone }}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Telefono cellulare</dt>
                  <dd>{{ company.mobile_phone }}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>VAT</dt>
                  <dd>{{company.vat}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Proprietari</dt>
                  <dd><a ng-repeat="r in company.owners" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != company.owners.length - 1">,&nbsp;</span></a></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Collaboratori</dt>
                  <dd><a ng-repeat="r in company.users" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != company.users.length - 1">,&nbsp;</span></a><span ng-if="company.users.length == 0">Ancora nessun collaboratore</span></dd>
                </dl>
              </div>

              <form class="pmbb-edit" data-ng-if="editCompanyInfo || creating">
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Nome</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.name" type="text" class="form-control" value="{{ company.name }}" placeholder="eg. Coca Cola ltd.">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Descrizione</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.description" type="text" class="form-control" value="{{ company.description }}" placeholder="eg. Coca Cola produces poison with sugar since late 1888">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Email</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.email" type="email" class="form-control" placeholder="eg. mario.rossi@cocacola.com">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Partita IVA</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.vat" type="text" class="form-control" placeholder="eg. 434365324365">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Sede Società</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.address" type="text" class="form-control" placeholder="St Jonsons street, 29">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Telefono</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.phone" type="text" class="form-control" data-input-mask="{mask: '0000 000000'}" placeholder="eg. 0422 123321">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Cellulare</dt>
                  <dd>
                    <div class="fg-line">
                      <input data-ng-model="company.mobile_phone" type="text" class="form-control" data-input-mask="{mask: '000 0000000'}" placeholder="eg. 340 1231986">
                    </div>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Proprietari</dt>
                  <dd>
                    <div class="dropdown-basic-demo clearfix">
                        <ul class="dropdown-menu dm-icon" role="menu">
                            <li data-ng-repeat="w in company.owners"><a href="javascript:void(0);"><i class="zmdi zmdi-close" ng-click="removeAdmin($index)"></i> {{ w.first_name }} {{ w.last_name }}</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-success btn-sm waves-effect" user-search searchcompany="false" callback="addAdmin">Aggiungi proprietario</button>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="p-t-10">Collaboratori</dt>
                  <dd>
                    <p class="m-t-10" ng-show="!company.users.length">Ancora nessun collaboratore presente.</p>
                    <div class="dropdown-basic-demo clearfix" ng-show="company.users.length">
                        <ul class="dropdown-menu dm-icon" role="menu">
                            <li data-ng-repeat="w in company.users"><a href="javascript:void(0);"><i ng-click="removeUser($index)" class="zmdi zmdi-close"></i> {{ w.first_name }} {{ w.last_name }}</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-success btn-sm waves-effect" user-search searchcompany="false" callback="addUser">aggiungi collaboratore</button>
                  </dd>
                </dl>
                <div class="m-t-30" ng-show="!success">
                  <button class="btn btn-primary btn-sm" data-ng-click="saveCompany(company)">SALVA</button>
                  <button class="btn btn-link btn-sm" data-ng-click="toggleCompanyInfo()" >ANNULLA</button>
                </div>
                <div class="alert alert-success" ng-if="success" role="alert">Azienda creata con successo. Torna indietro e ricercala per continuare</div>
                <div class="alert alert-danger" ng-if="wrong" role="alert">Errore nella creazione dell'azienda, controlla i campi.</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
