<div class="container m-t-25 matter matter-list">

  <div class="card">
    <div class="card-header">
      <h2>
        <button ui-sref="company.details({id: null})"
          class="btn btn-primary btn-icon-text waves-effect pull-right">
          <i class="zmdi zmdi-plus"></i> Crea nuova
        </button>
        Aziende e Persone giuridiche <small>Una persona giuridica è un ente cui l'ordinamento giuridico attribuisce la capacità giuridica, rendendolo quindi soggetto di diritto.</small>
      </h2>
    </div>


    <!-- LAWYER ONLY -->
    <div class="card-body">
      <div class="table-responsive" ng-if="companies.length && !isLoading">
        <table ng-table="companyTable" class="table table-striped table-vmiddle">
          <tr ng-repeat="m in companies">
            <td data-title="'Name'" sortable="'name'">
              <a ui-sref="company.details({id: m.id})">{{ m.name }}</a>
            </td>
            <td data-title="'Proprietari'" sortable="'owners'">
              <a ng-repeat="r in m.owners" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != m.owners.length - 1">,&nbsp;</span></a>
            </td>
            <td data-title="'Collaboratori'" sortable="'users'">
              <a ng-repeat="r in m.users" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != m.users.length - 1">,&nbsp;</span></a>
              <span ng-if="m.users.length == 0">Ancora nessun collaboratore</span>
            </td>
          </tr>
        </table>
      </div>
    </div>



  </div>

</div>
