<style>
.table .table {
  background: transparent !important;
}

input {
  background: transparent !important;
}
</style>

<table ui-tree-nodes="" ng-model="context.subItems" class="table table-bordered services" ng-if="context.show">
  <thead>
    <tr ng-show="context.length > 0">
      <th>#</th>
      <th>Domanda</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <!-- Questions -->
    <tr ng-repeat="subItem in context.subItems" ui-tree-node>
      <td ui-tree-handle width="3%"><div class="m-t-10">{{$index + 1}}</div></td>
      <td width="92%">
        <form>
          <div class="form-group" style="overflow: visible">
            <input type="text" name="Title" class="form-control" placeholder="Domanda" ng-model="subItem.title">
            <input class="form-control" placeholder="Aiuto o nota" ng-model="subItem.description" style="color: #5E5E5E; font-size: 13px; line-height: 13px" />
            <select chosen class="w-100 localytics-chosen" ng-model="subItem.type" ng-value="subItem.type" data-placeholder="Your Favorite Football Team">
              <optgroup label="Domande primitive">
                  <option value="input">Domanda aperta (input)</option>
                  <option value="textarea">Domanda aperta (area di testo)</option>
                  <option value="select">Domanda a selezione singola (select)</option>
                  <option value="checkbox">Domanda a selezione multipla (checkbox)</option>
                  <option value="multiple-select">Domanda a selezione multipla con molte alternative (select multiple)</option>
                  <option value="radio">Domanda con una possibile risposta su due alternative. (radio)</option>
              </optgroup>
              <optgroup label="Formati di aiuto">
                  <option value="date">Data</option>
              </optgroup>
            </select>
            <div class="checkbox m-b-15">
              <label>
                <input type="checkbox" value="" ng-model="subItem.is_mandatory">
                <i class="input-helper"></i>
                Domanda Obbligatorio
              </label>
            </div>

            <div ng-if="subItem.type == 'select'">
              <div class="form-group">
                <div class="form-group" ng-repeat="r in subItem.options track by $index">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="subItem.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                    <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="subItem.options[$index].title" ng-value="subItem.options[$index].title">
                  </div>
                </div>
                <button class="btn btn-info waves-effect" ng-click="createSubOption(subItem.options)">Aggiungi opzione</button>
              </div>

              <div class="p-15" style="position: {{context.position || 'static'}}; top: 70px; left: 0px; right: 0; background: {{context.color}}; z-index:1049; height: 100%; overflow:scroll" ng-repeat="context in subItem.options track by $index" ng-init="context.color=getClass(); context.sColor = context.color">
                  <div class="block-header">
                    <h4 style="max-width: 80%">Nel caso un utente risponda "{{context.title || ['No', 'Si'][$index]}}" alla domanda "{{subItem.title}}", mostra il seguente questionario:</h4>
                    <ul class="actions">
                      <li ng-if="context.position != 'fixed';" >
                        <a href="" ng-click="context.position = 'fixed'; context.color = 'white'; context.show = true;" uib-tooltip="Modalità a tutto schermo" tooltip-placement="bottom"><i class="zmdi zmdi-fullscreen-alt"></i></a>
                      </li>
                      <li ng-if="context.position == 'fixed';">
                        <a href="" ng-click="context.position = 'static'; context.color = context.sColor;" tooltip-placement="bottom" uib-tooltip="Esci dalla modalità a tutto schermo"><i class="zmdi zmdi-fullscreen-exit"></i></a>
                      </li>
                      <li tooltip-placement="bottom">
                        <a href="" ng-click="importTemplate(context)" tooltip-placement="bottom" uib-tooltip="Importa questionario"><i class="zmdi zmdi-download"></i></a>
                      </li>
                      <li tooltip-placement="bottom">
                        <a href="" ng-click="saveAsTemplate(context)" tooltip-placement="bottom" uib-tooltip="Salva questionario"><i class="zmdi zmdi-save"></i></a>
                      </li>
                      <li tooltip-placement="bottom" ng-if="!context.show">
                        <a href="" ng-click="context.show = true" tooltip-placement="bottom" uib-tooltip="Mostra form"><i class="zmdi zmdi-plus-circle"></i></a>
                      </li>
                      <li tooltip-placement="bottom" ng-if="context.show">
                        <a href="" ng-click="context.show = false" tooltip-placement="bottom" uib-tooltip="Nascondi form"><i class="zmdi zmdi-close-circle"></i></a>
                      </li>
                    </ul>
                  </div>

                  <div ng-include="'views/pages/create-form-table.html'"></div>
                </div>
            </div>

            <div ng-if="subItem.type == 'multiple-select'">
              <div class="form-group">
                <div class="form-group" ng-repeat="r in subItem.options track by $index">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="subItem.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                    <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="subItem.options[$index].title" ng-value="subItem.options[$index].title">
                  </div>
                </div>
                <button class="btn btn-info waves-effect" ng-click="createSubOption(subItem.options)">Aggiungi opzione</button>
              </div>
            </div>

            <div ng-if="subItem.type == 'checkbox'">
              <div class="form-group">
                <div class="form-group" ng-repeat="r in subItem.options track by $index">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="subItem.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                    <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="subItem.options[$index].title" ng-value="subItem.options[$index].title">
                  </div>
                </div>
                <button class="btn btn-info waves-effect" ng-click="createSubOption(subItem.options)">Aggiungi opzione</button>
              </div>
            </div>

            <div ng-if="subItem.type == 'radio'" ng-init="createSubOption(subItem.options, {title: '', subItems: []})">
              <div class="form-group">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-circle-o"></i></span>
                    <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: No" ng-model="subItem.options[0].title" ng-value="subItem.options[0].title" >
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-circle-o"></i></span>
                    <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Si" ng-model="subItem.options[1].title" ng-value="subItem.options[1].title">
                  </div>
                </div>
              </div>

              <div class="p-15" style="position: {{context.position || 'static'}}; top: 70px; left: 0px; right: 0; background: {{context.color}}; z-index:1049; height: 100%; overflow:scroll" ng-repeat="context in subItem.options" ng-init="context.color=getClass(); context.sColor = context.color">
                  <div class="block-header">
                    <h4 style="max-width: 80%">Nel caso un utente risponda "{{context.title || ['No', 'Si'][$index]}}" alla domanda "{{subItem.title}}", mostra il seguente questionario:</h4>
                    <ul class="actions">
                      <li ng-if="context.position != 'fixed';" >
                        <a href="" ng-click="context.position = 'fixed'; context.color = 'white'; context.show = true;" uib-tooltip="Modalità a tutto schermo" tooltip-placement="bottom"><i class="zmdi zmdi-fullscreen-alt"></i></a>
                      </li>
                      <li ng-if="context.position == 'fixed';">
                        <a href="" ng-click="context.position = 'static'; context.color = context.sColor;" tooltip-placement="bottom" uib-tooltip="Esci dalla modalità a tutto schermo"><i class="zmdi zmdi-fullscreen-exit"></i></a>
                      </li>
                      <li tooltip-placement="bottom">
                        <a href="" ng-click="importTemplate(context)" tooltip-placement="bottom" uib-tooltip="Importa questionario"><i class="zmdi zmdi-download"></i></a>
                      </li>
                      <li tooltip-placement="bottom">
                        <a href="" ng-click="saveAsTemplate(context)" tooltip-placement="bottom" uib-tooltip="Salva questionario"><i class="zmdi zmdi-save"></i></a>
                      </li>
                      <li tooltip-placement="bottom" ng-if="!context.show">
                        <a href="" ng-click="context.show = true" tooltip-placement="bottom" uib-tooltip="Mostra form"><i class="zmdi zmdi-plus-circle"></i></a>
                      </li>
                      <li tooltip-placement="bottom" ng-if="context.show">
                        <a href="" ng-click="context.show = false" tooltip-placement="bottom" uib-tooltip="Nascondi form"><i class="zmdi zmdi-close-circle"></i></a>
                      </li>
                    </ul>
                  </div>

                  <div ng-include="'views/pages/create-form-table.html'"></div>
                </div>

            </div>
          </div>
        </form>
      </td>
      <td width="5%" class="text-right">
        <ul class="actions">
          <li>
            <a href="" ng-click="saveQuestion(subItem)"
              tooltip-placement="bottom" uib-tooltip="Salva Domanda">
              <i class="zmdi" ng-class="{'zmdi-star starred': subItem.is_starred, 'zmdi-star-outline': !subItem.is_starred}"></i>
            </a>
          </li>
          <li>
            <a href="" ng-click="editor.removeItem(context.subItems, $index)"
              tooltip-placement="bottom" uib-tooltip="Rimuovi domanda">
             <i class="zmdi zmdi-delete"></i>
            </a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<div class="card-footer card-padding card-actions">
  <button class="btn bgm-info waves-effect" ng-click="importQuestion(context.subItems)"
    tooltip-placement="bottom" uib-tooltip="Importa Domanda">
    <i class="zmdi zmdi-plus"></i> Importa domanda
  </button>
  <button class="btn btn-large btn-orange waves-effect" ng-click="editor.addItem(context.subItems); context.show = true;">Aggiungi Domanda</button>
</div>

<hr/>
