<div class="container m-t-25">

  <div class="card">
    <div class="card-header ch-alt m-b-25">
      <h2>Persone Fisiche <small>Lista persone fisiche</small></h2>
      <div class="search-box">
        <div class="input-group">
          <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
          <input type="text" class="form-control" placeholder="Cerca per nome.." ng-model="query">
        </div>
      </div>
      <button class="btn bgm-blue btn-float waves-effect" new-user="user" new-user-cb="addCustomer"
        permission permission-only="['LAWYER', 'ADMIN']"
        tooltip-placement="bottom" uib-tooltip="Crea Nuovo Cliente">
        <i class="zmdi zmdi-account-add"></i>
      </button>
    </div>

    <div class="card-body">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th permission permission-only="['LAWYER','ADMIN']">Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in customers | filter: {name: query}">
            <td><a ui-sref="profile.details({id: c.id})">{{c.first_name}} {{c.last_name}}</a></td>
            <td>{{c.email}}</td>
            <td permission permission-only="['LAWYER', 'ADMIN']">
              <ul class="actions">
                <li>
                  <a href=""
                    tooltip-placement="bottom" uib-tooltip="Modifica">
                    <i class="zmdi zmdi-edit"></i>
                  </a>
                </li>
                <li>
                  <a href="" ng-click="deleteCustomer(c)"
                    tooltip-placement="bottom" uib-tooltip="Elimina">
                   <i class="zmdi zmdi-delete"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
