<div class="container m-t-25 matter matter-list">


  <div class="card">
    <div class="card-header">
      <h2>
        {{form.title}} <small>{{form.description}}</small>
      </h2>
    </div>


    <div class="card-body card-padding" ng-if="review">
      <div class="question" ng-repeat="i in form.items">

          <div ng-if="i.type == 'date'" ng-init="i.value = ensureDate(i.value)"></div>

          <div>
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}</h4>
              <span ng-if="isArray(i.value)" ng-repeat="r in i.value track by $index">
                <span ng-if="isObject(r)">{{r.title}}</span>
                <span ng-if="!isObject(r)">{{r}}</span>,
              </span>
              <span ng-if="isDate(i.value)">{{i.value | amDateFormat: "DD MMMM YYYY"}}</span>
              <span ng-if="isObject(i.value)">{{i.value.title}}</span>
              <span ng-if="!isArray(i.value) && !isObject(i.value)">{{i.value}}</span>
            </div>


            <span ng-if="i.type == 'select'">
              <div ng-repeat="q in i.options" ng-if="i.value.title == q.title" ng-include="'views/pages/form-answer-review-recursive.html'"></div>
            </span>

            <span ng-if="i.type == 'radio'">
              <div ng-repeat="q in i.options" ng-if="i.value == q.title" ng-include="'views/pages/form-answer-review-recursive.html'"></div>
            </span>

          </div>
      </div>
    </div>

    <div class="card-body card-padding" permission permission-only="['LAWYER']">
      <div class="question" ng-repeat="i in form.items">

          <div ng-if="i.type == 'date'" ng-init="i.value = ensureDate(i.value)"></div>

          <div>
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}</h4>
              <span ng-if="isArray(i.value)" ng-repeat="r in i.value track by $index">
                <span ng-if="isObject(r)">{{r.title}}</span>
                <span ng-if="!isObject(r)">{{r}}</span>,
              </span>
              <span ng-if="isDate(i.value)">{{i.value | amDateFormat: "DD MMMM YYYY"}}</span>
              <span ng-if="isObject(i.value)">{{i.value.title}}</span>
              <span ng-if="!isArray(i.value) && !isObject(i.value)">{{i.value}}</span>
            </div>


             <span ng-if="i.type == 'select'">
              <div ng-repeat="q in i.options" ng-if="i.value.title == q.title" ng-include="'views/pages/form-answer-review-recursive.html'"></div>
            </span>

            <span ng-if="i.type == 'radio'">
              <div ng-repeat="q in i.options" ng-if="i.value == q.title" ng-include="'views/pages/form-answer-review-recursive.html'"></div>
            </span>

          </div>
      </div>
    </div>


    <div class="card-body card-padding" permission permission-only="['CUSTOMER']" ng-if="!review">
      <form>
        <div class="question" ng-repeat="i in form.items">

          <div ng-if="i.type == 'date'">
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span><br/>
              <div class="dd-block">
                <div class="date-picker">
                    <uib-datepicker show-weeks="false" ng-model="i.value" ng-value="i.value" min-date="minDate" class="dp-inline"></uib-datepicker>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="i.type == 'input'">
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span>
              <div class="input-group">
                  <span class="input-group-addon" ng-show="i.icon"><i class="zmdi zmdi-{{i.icon}}"></i></span>
                  <div class="fg-line">
                    <input type="text" name="Valore predefinito" class="form-control" value="{{i.default}}"  placeholder="{{i.placeholder || 'iserisci..'}}" ng-value="i.value" ng-model="i.value">
                  </div>
              </div>
            </div>
          </div>

          <div ng-if="i.type == 'checkbox'" style="z-index:10000">
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span>
              <div class="input-group">
                <div class="checkbox m-b-15">
                  <label class="checkbox m-b-15" style="margin-bottom: 15px" ng-repeat="r in i.options track by $index">
                      <input type="checkbox" value="{{r.title}}" checklist-model="i.value" checklist-value="r.title">
                      <i class="input-helper"></i>
                      {{r.title}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="i.type == 'radio'" style="z-index:10000">
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span>
              <div class="input-group">
                <div class="radio m-b-15" ng-repeat="r in i.options track by $index">
                    <label>
                        <input type="radio" value="{{r.title}}" ng-model="i.value">
                        <i class="input-helper"></i>
                        {{r.title}}
                    </label>
                </div>
              </div>
            </div>

            <div ng-repeat="q in i.options track by $index" ng-if="i.value == q.title" ng-include="'views/pages/form-answer-recursive.html'"></div>

          </div>


          <div ng-if="i.type == 'select'" style="z-index:10000">
            <div class="form-group" style="overflow: visible !important">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span>
              <div class="input-group" style="overflow: visible !important">

                <select chosen class="w-100 localytics-chosen" ng-options="r.title for r in i.options track by r.title" ng-model="i.value" ng-value="i.value.title"  data-placeholder-text-single="'Seleziona un\'opzione'" style="z-index:10000; width:400px !important">
                  <option value=""></option>
                </select>

                <div ng-repeat="q in i.options" ng-if="i.value.title == q.title" ng-include="'views/pages/form-answer-recursive.html'"></div>

              </div>
            </div>
          </div>

          <div ng-if="i.type == 'multiple-select'" style="z-index:10000">
            <div class="form-group" style="overflow: visible !important">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory"> *</span></h4>
              <span>{{i.description}}</span>
              <div class="input-group" style="overflow: visible !important">
                <select chosen multiple class="w-100 localytics-chosen" ng-options="r.title for r in i.options" ng-model="i.value"  placeholder-text-single="'Seleziona un\'opzione'" style="width:400px !important">
                  <option value=""></option>
                </select>
                <!-- <div style="width : 100%; height: 250px"></div> -->
              </div>
            </div>
          </div>


          <div ng-if="i.type == 'textarea'">
            <div class="form-group">
              <h4>{{$index + 1}}. {{i.title}}<span ng-if="i.is_mandatory">*</span></h4>
              <span>{{i.description}}</span>
                <textarea type="text" name="Valore predefinito" class="form-control" value="{{i.default}}"  placeholder="{{i.placeholder || 'iserisci..'}}" ng-model="i.value" ng-value="i.value" style="max-width: 400px">{{i.default}}</textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer card-padding card-actions" permission permission-only="['CUSTOMER']">
      <button class="btn btn-orange btn-icon-text waves-effect" ng-click="review = true" ng-show="!review">
        <span>Visualizza sommario </span><i class="zmdi zmdi-arrow-forward"></i>
      </button>
      <button class="btn btn-icon-text waves-effect" ng-show="review" ng-click="review = false">
        <span>Indietro </span><i class="zmdi zmdi-arrow-back"></i>
      </button>
      <button class="btn btn-success btn-icon-text waves-effect" ng-show="review" ng-click="save()">
        <span>Salva </span><i class="zmdi zmdi-upload"></i>
      </button>
    </div>

    <div class="isLoading" ng-if="isLoading">
      <div class="loader">
        <div class="loader-inner ball-pulse-sync">
          <div ng-repeat="i in [1,2,3]"></div>
        </div>
      </div>
    </div>

  </div>

</div>
