<form>

  <div class="question" ng-repeat="n in q.subItems">

    <div ng-if="n.type == 'date'">
      <div class="form-group">
        <h4>{{n.title}}<span ng-if="n.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span><br/>
        <div class="dd-block">
          <div class="date-picker">
              <uib-datepicker show-weeks="false" ng-model="n.value" ng-value="n.value" min-date="minDate" class="dp-inline"></uib-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="n.type == 'input'">
      <div class="form-group">
        <h4>{{n.title}}<span ng-if="n.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span>
        <div class="input-group">
            <span class="input-group-addon" ng-show="n.icon"><i class="zmdi zmdi-{{n.icon}}"></i></span>
            <div class="fg-line">
              <input type="text" name="Valore predefinito" class="form-control" value="{n.default}}"  placeholder="{{n.placeholder || 'iserisci..'}}" ng-value="n.value" ng-model="n.value">
            </div>
        </div>
      </div>
    </div>

    <div ng-if="n.type == 'checkbox'" style="z-index:10000">
      <div class="form-group">
        <h4>{{n.title}}<span ng-if="n.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span>
        <div class="input-group">
          <div class="checkbox m-b-15">
            <label class="checkbox m-b-15" style="margin-bottom: 15px" ng-repeat="r in n.options track by $index">
                <input type="checkbox" value="{{r.title}}" checklist-model="n.value" checklist-value="r.title">
                <i class="input-helper"></i>
                {{r.title}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="n.type == 'radio'" style="z-index:10000">
      <div class="form-group">
        <h4>{{n.title}}<span ng-if="n.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span>
        <div class="input-group">
          <div class="radio m-b-15" ng-repeat="r in n.options track by $index">
              <label>
                  <input type="radio" value="{{r.title}}" ng-model="n.value">
                  <i class="input-helper"></i>
                  {{r.title}}
              </label>
          </div>
        </div>
      </div>


      <div ng-repeat="q in n.options track by $index" ng-if="n.value == q.title" ng-include="'views/pages/form-answer-recursive.html'" style="margin-left: 5px; padding-left: 15px; border-left: 2px solid {{n.color}}" ng-init="n.color=getClass();"></div>

    </div>

    <div ng-if="n.type == 'select'" style="z-index:10000">
      <div class="form-group" style="overflow: visible !important">
        <h4>{{n.title}}<span ng-if="n.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span>
        <div class="input-group" style="overflow: visible !important">

          <select chosen class="w-100 localytics-chosen" ng-options="r.title for r in n.options track by r.title" ng-model="n.value"  data-placeholder-text-single="'Seleziona un\'opzione'" style="z-index:10000; width:400px !important">
            <option value=""></option>
          </select>
        </div>
      </div>

      <div ng-repeat="q in n.options track by $index" ng-if="n.value.title == q.title" ng-include="'views/pages/form-answer-recursive.html'" style="margin-left: 5px; padding-left: 15px; border-left: 2px solid {{n.color}}" ng-init="n.color=getClass();"></div>

    </div>

    <div ng-if="n.type == 'multiple-select'" style="z-index:10000">
      <div class="form-group" style="overflow: visible !important">
        <h4>{{n.title}}<span ng-if="i.is_mandatory"> *</span></h4>
        <span>{{n.description}}</span>
        <div class="input-group" style="overflow: visible !important">
          <select chosen multiple class="w-100 localytics-chosen" ng-options="r.title for r in n.options" ng-model="n.value"  placeholder-text-single="'Seleziona un\'opzione'" style="width:400px !important">
            <option value=""></option>
          </select>
          <!-- <div style="width : 100%; height: 250px"></div> -->
        </div>
      </div>
    </div>


    <div ng-if="n.type == 'textarea'">
      <div class="form-group">
        <h4>{{n.title}}<span ng-if="n.is_mandatory">*</span></h4>
        <span>{{n.description}}</span>
          <textarea type="text" name="Valore predefinito" class="form-control" value="{{n.default}}"  placeholder="{{n.placeholder || 'iserisci..'}}" ng-model="n.value" ng-value="n.value" style="max-width: 400px">{{n.default}}</textarea>
      </div>
    </div>
  </div>
</form>
