<div class="container m-t-25 matter matter-list">

  <div class="card">
    <div class="card-header">
      <h2>
        <button ui-sref="page.form-create"
          class="btn btn-primary btn-icon-text waves-effect pull-right"
          permission permission-only="['LAWYER', 'ADMIN']">
          <i class="zmdi zmdi-plus"></i> New
        </button>
        QUESTIONARI <small><p style="max-width: 80%; text-align: justified">Il questionario è uno strumento sfruttato nella ricerca sociale (psicologia, sociologia, economia, studi di mercato, indagini di opinione) che serve per raccogliere informazioni in modo standardizzato e su campioni più o meno grandi, tali per cui è possibile poi costruire una matrice dati, ed effettuare poi analisi di tipo matematico/statistico.</p></small>
      </h2>
    </div>

    <!-- CUSTOMER ONLY -->
    <div class="card-body" permission permission-only="['CUSTOMER']">
      <div class="table-responsive" ng-if="answers.length && !isLoading">
        <table ng-table="mattersTable" class="table table-striped table-vmiddle">
          <tr ng-repeat="m in answers">
            <td data-title="'Titolo'" sortable="'title'">
              <a ui-sref="page.form-answer({id: m.id})">{{ m.title }}</a>
            </td>
            <td data-title="'Stato'" sortable="'m.total'">
              <span ng-if="m.answered && m.answered/m.total !=1"><i class="zmdi zmdi-assignment" style="color: #F44336"></i> {{ m.answered }} / {{m.total}}</span>
              <span ng-if="!m.answered"><i class="zmdi zmdi-alert-circle-o" style="color: #F44336"></i> Non iniziato</span>
              <span ng-if="m.answered && m.answered/m.total == 1"><i class="zmdi zmdi-check-all"></i> Completato</span>
            </td>
            <td data-title="'Avvocato'" sortable="'owner.last_name'">
              <a ui-sref="profile.details({id: m.owner.id})">{{m.owner.first_name}} {{m.owner.last_name}}</a>
            </td>
            <td data-title="'Data Ricezione'" sortable="'created_at'">
             {{m.created_at | amDateFormat: "[Il] DD MMMM YYYY" }}
            </td>
            <td data-title="'Ultimo aggiornamento'" sortable="'updated_at'">
              {{m.updated_at | amDateFormat: "[Il] DD MMMM YYYY [alle] hh:mm" }}
            </td>
            <td data-title="'Azione'">
              <ul class="actions">
                <li>
                  <a href="" ng-click="deleteForm(m)"
                    tooltip-placement="bottom" uib-tooltip="Delete">
                   <i class="zmdi zmdi-delete"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- LAWYER ONLY -->
    <div class="card-body" permission permission-only="['LAWYER']">
      <div class="table-responsive" ng-if="answers.length && !isLoading">
        <table ng-table="mattersTable" class="table table-striped table-vmiddle">
          <tr ng-repeat="m in answers">
            <td data-title="'Titolo'" sortable="'title'">
              <a ui-sref="page.form-answer({id: m.id})" ng-if="m.answered">{{ m.title }}</a>
              <span ng-if="!m.answered">{{ m.title }}</span>
            </td>
            <td data-title="'Progress'" sortable="'m.answered'">
              <span ng-if="m.answered && m.answered/m.total !=1"><i class="zmdi zmdi-assignment" style="color: #F44336"></i> {{ m.answered }} / {{m.total}}</span>
              <span ng-if="!m.answered"><i class="zmdi zmdi-time"></i> Attendi..</span>
              <span ng-if="m.answered && m.answered/m.total == 1"><i class="zmdi zmdi-check-all" style="color: #4CAF50
"></i> Completato</span>
            </td>
            <td data-title="'Cliente'" sortable="'customer.last_name'">
              <a ui-sref="profile.details({id: m.customer.id})">{{m.customer.first_name}} {{m.customer.last_name}}</a>
            </td>
            <td data-title="'Data Invio'" sortable="'created_at'">
              {{m.created_at | amDateFormat: "[Il] DD MMMM YYYY" }}
            </td>
            <td data-title="'Ultimo aggiornamento'" sortable="'updated_at'">
              {{m.updated_at | amDateFormat: "[Il] DD MMMM YYYY [alle] hh:mm" }}
            </td>
            <td data-title="'Azioni'">
              <ul class="actions">
                <li>
                  <a href="" ng-click="deleteForm(m)"
                    tooltip-placement="bottom" uib-tooltip="Delete">
                   <i class="zmdi zmdi-delete"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>



  </div>

</div>
