<style>
.form-create input {
  width: 100% !important;
}

.form-create .input-group {
  width: 100% !important;
}


</style>

<div class="container form-create">
  <div class="block-header">
    <h2>Nuovo Questionario</h2>
    <ul class="actions">
      <li tooltip-placement="bottom" uib-tooltip="Save as Template">
        <a href="" ng-click="saveAsTemplate(form)"><i class="fa fa-floppy-o"></i></a>
      </li>
      <li tooltip-placement="bottom" uib-tooltip="Import from Template">
        <a href="" ng-click="importTemplate(form)"><i class="zmdi zmdi-download"></i></a>
      </li>
      <li class="dropdown" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <i class="zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="">Refresh</a>
          </li>
          <li>
            <a href="">Other</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header ch-alt m-b-20">
          <form>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <input type="text" name="Title" class="form-control" placeholder="Title" ng-model="form.title">
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <textarea auto-size class="form-control" placeholder="Description" ng-model="form.description"></textarea>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>

          <button class="btn bgm-darkorange btn-float waves-effect" ng-click="importQuestion(form.items)"
            tooltip-placement="bottom" uib-tooltip="Importa Domanda">
            <i class="zmdi zmdi-plus"></i>
          </button>
        </div>



        <div class="card-body card-padding">
          <div ui-tree>
            <table ui-tree-nodes="" ng-model="form.items" class="table table-bordered services">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Domanda</th>
                  <th>Azioni</th>
                </tr>
              </thead>
              <tbody>
                <!-- Questions -->
                <tr ng-repeat="item in form.items" ui-tree-node>
                  <td ui-tree-handle width="3%"><div class="m-t-10">{{$index + 1}}</div></td>
                  <td width="92%">
                    <form>
                      <div class="form-group" style="overflow: visible">
                        <input type="text" name="Title" class="form-control" placeholder="Domanda" ng-model="item.title">
                        <input class="form-control" placeholder="Aiuto o nota" ng-model="item.description" style="color: #5E5E5E; font-size: 13px; line-height: 13px" />
                        <div class="checkbox m-b-15">
                          <label>
                            <input type="checkbox" value="" ng-model="item.is_mandatory">
                            <i class="input-helper"></i>
                            Domanda Obbligatorio
                          </label>
                        </div>
                        <select chosen class="w-100 localytics-chosen" ng-model="item.type" ng-value="item.type" data-placeholder="Your Favorite Football Team">
                          <optgroup label="Domande primitive">
                              <option value="input">Domanda aperta (input)</option>
                              <option value="textarea">Domanda aperta (area di testo)</option>
                              <option value="select">Domanda a selezione singola (select)</option>
                              <option value="checkbox">Domanda a selezione multipla (checkbox)</option>
                              <option value="multiple-select">Domanda a selezione multipla con molte alternative (select multiple)</option>
                              <option value="radio">Domanda con una possibile risposta su due alternative. (radio)</option>
                          </optgroup>
                          <optgroup label="Formati di aiuto">
                              <option value="date">Data</option>
                          </optgroup>
                        </select>

                        <div ng-if="item.type == 'select'">
                          <div class="form-group">
                            <div class="form-group" ng-repeat="r in item.options track by $index">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="item.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                                <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="item.options[$index].title" ng-value="item.options[$index].title">
                              </div>
                            </div>
                            <button class="btn btn-info waves-effect" ng-click="createOption($parent.$index)">Aggiungi opzione</button>
                          </div>

                          <div class="p-15" style="position: {{context.position || 'static'}}; top: 70px; left: 0px; right: 0; background: {{context.color}}; z-index:1049; height: 100%; overflow:scroll" ng-repeat="context in item.options" ng-init="context.color=getClass(); context.sColor = context.color; forceSubItem(context)">
                              <div class="block-header">
                                <h4 style="max-width: 80%">Nel caso un utente risponda "{{context.title}}" alla domanda "{{item.title}}" mostra il seguente questionario:</h4>
                                <ul class="actions">
                                  <li ng-if="context.position != 'fixed'" >
                                    <a href="" ng-click="context.position = 'fixed'; context.color = 'white'" uib-tooltip="Modalità a tutto schermo" tooltip-placement="bottom"><i class="zmdi zmdi-fullscreen-alt"></i></a>
                                  </li>
                                  <li ng-if="context.position == 'fixed'">
                                    <a href="" ng-click="context.position = 'static'; context.color = context.sColor" tooltip-placement="bottom" uib-tooltip="Esci dalla modalità a tutto schermo"><i class="zmdi zmdi-fullscreen-exit"></i></a>
                                  </li>
                                  <li tooltip-placement="bottom">
                                    <a href="" ng-click="importTemplate(context)" tooltip-placement="bottom" uib-tooltip="Importa questionario"><i class="zmdi zmdi-download"></i></a>
                                  </li>
                                  <li tooltip-placement="bottom">
                                    <a href="" ng-click="saveAsTemplate(context)" tooltip-placement="bottom" uib-tooltip="Salva questionario"><i class="zmdi zmdi-save"></i></a>
                                  </li>
                                </ul>
                              </div>

                              <div ng-include="'views/pages/create-form-table.html'"></div>
                            </div>
                        </div>

                        <div ng-if="item.type == 'multiple-select'">
                          <div class="form-group">
                            <div class="form-group" ng-repeat="r in item.options track by $index">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="item.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                                <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="item.options[$index].title" ng-value="item.options[$index].title">
                              </div>
                            </div>
                            <button class="btn btn-info waves-effect" ng-click="createOption($parent.$index)">Aggiungi opzione</button>
                          </div>
                        </div>

                        <div ng-if="item.type == 'checkbox'">
                          <div class="form-group">
                            <div class="form-group" ng-repeat="r in item.options track by $index">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-delete" ng-click="item.options.splice($index, 1)" style="color: #F44336; cursor: pointer"></i></span>
                                <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Bottiglia" ng-model="item.options[$index].title" ng-value="item.options[$index].title">
                              </div>
                            </div>
                            <button class="btn btn-info waves-effect" ng-click="createOption($parent.$index)">Aggiungi opzione</button>
                          </div>
                        </div>

                        <div ng-if="item.type == 'radio'" ng-init="createSubOption(item.options, true)">
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="zmdi zmdi-circle-o"></i></span>
                              <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: No" ng-model="item.options[0].title" ng-value="item.options[0].title">
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="zmdi zmdi-circle-o"></i></span>
                              <input type="text" name="Valore predefinito" class="form-control" placeholder="e.g.: Si" ng-model="item.options[1].title" ng-value="item.options[1].title">
                            </div>

                          </div>


                            <div class="p-15" style="position: {{context.position || 'static'}}; top: 70px; left: 0px; right: 0; background: {{context.color}}; z-index:1049; height: 100%; overflow:scroll" ng-repeat="context in item.options" ng-init="context.color=getClass(); context.sColor = context.color">
                              <div class="block-header">
                                <h4 style="max-width: 80%">Nel caso un utente risponda "{{context.title || ['No', 'Si'][$index]}}" alla domanda "{{item.title}}" mostra il seguente questionario:</h4>
                                <ul class="actions">
                                  <li ng-if="context.position != 'fixed'" >
                                    <a href="" ng-click="context.position = 'fixed'; context.color = 'white'" uib-tooltip="Modalità a tutto schermo" tooltip-placement="bottom"><i class="zmdi zmdi-fullscreen-alt"></i></a>
                                  </li>
                                  <li ng-if="context.position == 'fixed'">
                                    <a href="" ng-click="context.position = 'static'; context.color = context.sColor" tooltip-placement="bottom" uib-tooltip="Esci dalla modalità a tutto schermo"><i class="zmdi zmdi-fullscreen-exit"></i></a>
                                  </li>
                                  <li tooltip-placement="bottom">
                                    <a href="" ng-click="importTemplate(context)" tooltip-placement="bottom" uib-tooltip="Importa questionario"><i class="zmdi zmdi-download"></i></a>
                                  </li>
                                  <li tooltip-placement="bottom">
                                    <a href="" ng-click="saveAsTemplate(context)" tooltip-placement="bottom" uib-tooltip="Salva questionario"><i class="zmdi zmdi-save"></i></a>
                                  </li>
                                </ul>
                              </div>

                              <div ng-include="'views/pages/create-form-table.html'"></div>
                            </div>

                        </div>

                      </div>
                    </form>
                  </td>
                  <td width="5%" class="text-right">
                    <ul class="actions">
                      <li>
                        <a href="" ng-click="saveQuestion(item)"
                          tooltip-placement="bottom" uib-tooltip="Salva Domanda">
                          <i class="zmdi" ng-class="{'zmdi-star starred': item.is_starred, 'zmdi-star-outline': !item.is_starred}"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" ng-click="editor.removeItem(form.items, $index)"
                          tooltip-placement="bottom" uib-tooltip="Rimuovi domanda">
                         <i class="zmdi zmdi-delete"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer card-padding card-actions">
          <div tooltip-placement="bottom" uib-tooltip="Save in Draft" class="save-as-draft">
            <span ng-if="isSaving">Saving...</span>
            <span ng-if="errorSaving">Error in saving. Please insert a title</span>
            <span ng-if="!isSaving && !errorSaving">Saved</span>
            <a href="" ng-class="{'is-saving': (isSaving || errorSaving)}"><i class="zmdi zmdi-check-all"></i></a>
          </div>
          <button class="btn btn-large btn-orange waves-effect" ng-click="editor.addItem(form.items)">Aggiungi Domanda</button>
        </div>

      </div>
    </div>
  </div>

</div>
