<div class="container m-t-25 invoices invoice-details">

  <div ng-if="!invoice.is_paid" class="alert alert-danger top-alert" role="alert">
    <span>Questa fattura non è ancora stata pagata</span>
    <button class="btn btn-success waves-effect" ng-click="openPaymentModal()" ng-if="current_user.id == invoice.customer.id">
      Paga saldo di €
      <span ng-if="!invoice.matter.withholding_tax">{{ invoice.calc.total_price | prettyNumber}}</span>
      <span ng-if="invoice.matter.withholding_tax">{{ invoice.calc.final_price | prettyNumber}}</span>
    </button>
  </div>

  <div ng-if="!invoice.is_confirmed && invoice.is_paid" class="alert alert-info top-alert" role="alert"
      permission permission-only="['LAWYER']">
    <span>Questa fattura è stata pagata tramite bonifico. Conferma la ricezione del denaro</span>
    <button class="btn btn-success waves-effect" ng-click="confirmPayment()">
      Ho Ricevuto €
      <span ng-if="!invoice.matter.withholding_tax">{{ invoice.calc.total_price | prettyNumber}}</span>
      <span ng-if="invoice.matter.withholding_tax">{{ invoice.calc.final_price | prettyNumber}}</span>
    </button>
  </div>

  <div ng-if="!invoice.invoice_number" class="alert alert-danger" permission permission-only="['CUSTOMER', 'ADMIN']">
    Questa fattura non ha ancora validità legale. Perfavore aspetta che il mittente inserisca il numero di fatturazione.
  </div>

  <div ng-if="!invoice.invoice_number" class="alert alert-danger" permission permission-only="['LAWYER', 'ADMIN']">
    Questa fattura non ha ancora validità legale. Inserisci il numero di fatturazione e premi invio.
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card invoice-letter">

        <div class="card-header">
          <div class="invoice-letter-header">
            <img src="images/logo.png" alt="">
            <div class="pull-left">
              <h4>Spett.le {{invoice.customer.first_name}} {{invoice.customer.last_name}}</h4>
              <p>
                <span ng-if="invoice.customer.address">{{invoice.customer.address}}</span><br/>
                <span ng-if="invoice.customer.fiscal_code">C.F. {{invoice.customer.fiscal_code}}</span><br/>
                <span ng-if="invoice.customer.vat_number">P.I. {{invoice.customer.vat_number}}</span>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <ul class="actions">
            <li>
              <button class="btn btn-flat btn-default btn-icon-text waves-effect" ng-click="download()">
                <i class="zmdi zmdi-download"></i>Download PDF
              </button>
            </li>
          </ul>
        </div>

        <div class="card-body card-padding">
          <div class="row">
            <div class="col-sm-6">
              <h4>Avv. {{invoice.owner.first_name}} {{invoice.owner.last_name}}</h4>
              <p>
                <span ng-if="invoice.owner.address">{{invoice.owner.address}}</span><br/>
                <span ng-if="invoice.owner.fiscal_code">C.F. {{invoice.owner.fiscal_code}}</span><br/>
                <span ng-if="invoice.owner.vat_number">P.I. {{invoice.owner.vat_number}}</span>
              </p>
            </div>
            <div class="col-sm-6 text-right">
              <!-- <h4>Spett.le {{invoice.customer.first_name}} {{invoice.customer.last_name}}</h4>
              <p>
                <span ng-if="invoice.customer.address">{{invoice.customer.address}}</span><br/>
                <span ng-if="invoice.customer.fiscal_code">C.F. {{invoice.customer.fiscal_code}}</span><br/>
                <span ng-if="invoice.customer.vat_number">P.I. {{invoice.customer.vat_number}}</span>
              </p> -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="invoice-number">
                <h4 permission permission-only="['CUSTOMER']" class="pull-left">
                  Fattura n° {{invoice.invoice_number}}
                </h4>
                <h4 class="m-0 f-300 pull-left" permission permission-only="['LAWYER', 'ADMIN']">
                  Fattura n°&nbsp;
                  <input ng-keyup="$event.keyCode == 13 && update()" type="text" ng-model="invoice.invoice_number" class="form-control" placeholder="Inserisci Numero" autofocus style="display:inline; max-width: 50%">
                </h4>
                <h4 class="pull-right">{{invoice.created_at | amDateFormat: "DD MMMM YYYY" }}</h4>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Descrizione</th>
                    <th>Importo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in invoice.matter.items" ng-if="i.is_mandatory || i.is_selected">
                    <td width="80%">
                      <strong>{{i.title}}</strong>
                      <!-- <p class="text-muted">{{i.description}}</p> -->
                    </td>
                    <td>€ {{i.price | prettyNumber}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <strong>PRESTAZIONI
                        <span ng-if="invoice.invoice_type === 'deposit'">(Acconto)</span>
                        <span ng-if="invoice.invoice_type === 'balance'">(Saldo)</span>
                      </strong>
                    </td>
                    <td><strong>€ {{invoice.calc.total_services | prettyNumber}}</strong></td>
                  </tr>
                  <tr>
                    <td class="text-right">Spese generali (15%)</td>
                    <td>€ {{invoice.calc.expenses_refund | prettyNumber}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Contrib. previd. ob. (4%)</td>
                    <td>€ {{invoice.calc.social_taxes | prettyNumber}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">IVA (22%)</td>
                    <td>€ {{invoice.calc.vat | prettyNumber}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Spese sostenute in nome e per conto del cliente ex art. 15 DPR 633/72</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="text-right">TOTALE FATTURA</td>
                    <td><strong>€ {{invoice.calc.total_price | prettyNumber}}</strong></td>
                  </tr>
                  <tr ng-if="invoice.matter.withholding_tax">
                    <td class="text-right"><strong>NETTO DA VERSARE (*)</strong></td>
                    <td><strong>€ {{invoice.calc.final_price | prettyNumber}}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row m-t-25">
            <div class="col-sm-12">
              <h4 class="f-300">Modalità di pagamento in caso di Bonifico Bancario</h4>
              <p class="c-gray">
                <strong>CheBanca!</strong> - Viale Luigi Bodio, 37, 20158 - Milano (MI)<br/>
                <strong>Iban</strong> IT 84 O 03058 01604 100571277268<br/>
                <strong>BIC/SWIFT</strong> MICSITM1XXX<br/>
                <strong>Termini di pagamento</strong>: 10 giorni data fattura<br/><br/>
              </p>
            </div>
            <div class="col-sm-12" ng-if="invoice.matter.withholding_tax">
              (*) Ritenuta d'acconto (20% dell'imponibile) € {{ invoice.calc.withholding_tax | prettyNumber}}
            </div>
          </div>
        </div>  <!-- END Card Body -->

        <div class="card-footer card-padding">
          <hr>
          <ul class="list-inline text-center list-unstyled">
            <li class="m-l-5 m-r-5"><small>Via Mazzini n. 10 - 20123 Milano, Italia</small></li>
            <li class="m-l-5 m-r-5"><small>Phone: +39 049 8758955 - Fax: +39 049 8759252</small></li>
            <li class="m-l-5 m-r-5"><small>Email: <a href="mailto:info@crclex.com">info@crclex.com</a></small></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>
