<div class="container matter matter-edit">
  <div class="block-header flex">
    <h2>MODIFICA LETTERA DI INCARICO:</h2>
    <a ui-sref="page.matter-details(matter)">{{matter.title}}</a>
    <ul class="actions">
      <li tooltip-placement="bottom" uib-tooltip="Save as Template">
        <a href="" ng-click="saveAsTemplate(matter)"><i class="fa fa-floppy-o"></i></a>
      </li>
      <li tooltip-placement="bottom" uib-tooltip="Import from Template">
        <a href="" ng-click="importTemplate()"><i class="zmdi zmdi-download"></i></a>
      </li>
      <li class="dropdown" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <i class="zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="">Refresh</a>
          </li>
          <li>
            <a href="">Other</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header ch-alt m-b-20">
          <form>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Titolo</th>
                    <th>Priorità</th>
                    <th>Area</th>
                    <!-- <th>Stato</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <input type="text" name="Title" class="form-control" placeholder="Inserisci Titolo" ng-model="matter.title">
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="number" class="form-control" placeholder="0/100" ng-model="matter.priority">
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" ng-model="matter.area_of_interest" ng-value="matter.area_of_interest || 'default'" ng-show="!insertArea">
                          <option value="" disabled selected>Seleziona Area</option>
                          <option ng-repeat="area in areas" value="{{area}}">{{area}}</option>
                          <option value="__manual__">Immetti manualmente</option>
                        </select>
                        <input ng-show="insertArea" type="text" class="form-control" placeholder="Inserisci Area" ng-model="matter.area_of_interest">
                      </div>
                    </td>
                    <!-- <td>
                      <div class="form-group">
                        <select class="form-control" ng-model="matter.status">
                          <option value="" disabled selected>Status</option>
                          <option value="open">Open</option>
                          <option value="pending">Pending</option>
                          <option value="closed">Closed</option>
                        </select>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead><tr><th>Intestazione</th></tr></thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <textarea auto-size class="form-control" placeholder="Inserisci Intestazione" ng-model="matter.description"></textarea>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>

          <button class="btn bgm-darkorange btn-float waves-effect" ng-click="importService()"
            tooltip-placement="bottom" uib-tooltip="Importa Fase">
            <i class="zmdi zmdi-plus"></i>
          </button>
          <button class="btn bgm-blue btn-float waves-effect" ng-click="sendMatterModal()"
            tooltip-placement="bottom" uib-tooltip="Invia a Cliente">
            <i class="zmdi zmdi-mail-send"></i>
          </button>
        </div>


        <div class="card-body card-padding">
          <div ui-tree>
            <table ui-tree-nodes="" ng-model="matter.items" class="table table-bordered services">
              <thead>
                <tr>
                  <th>#</th>
                  <th>FASE</th>
                  <th>PREZZO</th>
                  <th>AZIONI</th>
                </tr>
              </thead>
              <tbody>
                <!-- SERVICES -->
                <tr ng-repeat="item in matter.items" ui-tree-node>
                  <td ui-tree-handle width="3%">{{$index + 1}}</td>
                  <td width="70%">
                    <form>
                      <div class="form-group">
                        <input type="text" name="Title" class="form-control" placeholder="Title" ng-model="item.title">
                      </div>
                      <div class="form-group">
                        <textarea auto-size class="form-control" placeholder="Description" ng-model="item.description"></textarea>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" ng-model="item.is_mandatory">
                          <i class="input-helper"></i>
                        </label>
                        <span>Servizio Obbligatorio</span>
                      </div>
                    </form>
                    <!-- SUB-SERVICES -->
                    <table ui-tree-nodes="" ng-model="item.items" class="table table-bordered sub-services" width="100%">
                      <tbody>
                        <tr ng-repeat="subItem in item.items" ui-tree-node>
                          <td ui-tree-handle width="5%">{{ $parent.$parent.$index + 1 }}.{{$index + 1}}</td>
                          <td width="95%" class="sub-service-item">
                            <form>
                              <div class="form-group">
                                <input type="text" name="Title" class="form-control" placeholder="Title" ng-model="subItem.title">
                              </div>
                              <div class="form-group">
                                <textarea auto-size class="form-control" placeholder="Description" ng-model="subItem.description"></textarea>
                              </div>
                            </form>
                            <div class="btn-remove">
                              <a href="" ng-click="editor.removeItem(item.items, $index)"><i class="zmdi zmdi-close"></i></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <form>
                      <div class="input-group amount">
                        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                        <input type="text" class="form-control" placeholder="0" ng-model="item.price">
                      </div>
                    </form>
                  </td>
                  <td class="text-right">
                    <ul class="actions">
                      <li>
                        <a href="" ng-click="editor.addItem(item.items)"
                          tooltip-placement="bottom" uib-tooltip="Add Sub-Service">
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" ng-click="saveService(item)"
                          tooltip-placement="bottom" uib-tooltip="Save Service">
                          <i class="zmdi" ng-class="{'zmdi-star starred': item.is_starred, 'zmdi-star-outline': !item.is_starred}"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" ng-click="editor.removeItem(matter.items, $index)"
                          tooltip-placement="bottom" uib-tooltip="Remove Service">
                         <i class="zmdi zmdi-delete"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer card-padding card-actions">
          <div tooltip-placement="bottom" uib-tooltip="Save in Draft" class="save-as-draft">
            <span ng-if="isSaving">Saving...</span>
            <span ng-if="errorSaving">Error in saving. Please insert a title</span>
            <span ng-if="!isSaving && !errorSaving">Saved</span>
            <a href="" ng-class="{'is-saving': (isSaving || errorSaving)}"><i class="zmdi zmdi-check-all"></i></a>
          </div>
          <button class="btn btn-large btn-orange waves-effect" ng-click="editor.addItem(matter.items)">Add Service</button>
        </div>

      </div>
    </div>
  </div>

  <!-- PAYMENT SETTINGS -->
  <div class="row">
    <div class="col-sm-12">
      <div id="summary-box" class="card m-t-25">
        <div class="card-header ch-alt">
          <h2>Impostazioni di pagamento</h2>
        </div>
        <div class="card-body card-padding">
          <form>
            <p class="c-black f-500 m-b-20">Ritenuta d'acconto</p>
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="withholding_tax" ng-value="false" ng-model="matter.withholding_tax" selected>
              <i class="input-helper"></i> NO
            </label>
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="withholding_tax" ng-value="true" ng-model="matter.withholding_tax">
              <i class="input-helper"></i> SI
            </label>
            <p class="c-black f-500 m-b-20 m-t-20">Percentuale Acconto</p>
            <div class="deposit-percentage">
              <div slider class="input-slider" ng-model="matter.deposit" start=0 end=100></div>
              <div class="deposit-number">
                % <input type="number" name="deposit" ng-model="matter.deposit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- INVOICE PREVIEW -->
  <div class="row">
    <div class="col-sm-12">
      <div id="summary-box" class="card m-t-25">
        <div class="card-header ch-alt">
          <h2>Anteprima Fattura</h2>
        </div>
        <div class="card-body card-padding invoice-letter">
          <div ng-include="'views/partials/invoice-summary.html'"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-b-25">
    <div class="col-sm-12">
      <button class="btn btn-info waves-effect pull-right" ng-click="sendMatterModal()">
        <i class="zmdi zmdi-mail-send"></i> Invia a cliente
      </button>
    </div>
  </div>

</div>
