<div class="container matter matter-details">
  <div class="card m-t-25">
    <div class="card-header">
      <h2>Matter Details</h2>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Area</th>
              <th>Status</th>
              <th permission permission-only="['LAWYER', 'ADMIN']">Customer</th>
              <th permission permission-only="['CUSTOMER', 'ADMIN']">Lawyer</th>
              <th>Open Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{matter.title}}</td>
              <td>{{matter.area_of_interest}}</td>
              <td>
                <div class="flag flag-success" ng-if="matter.status == 'success'">Open</div>
                <div class="flag flag-pending" ng-if="matter.status == 'pending'">Pending</div>
                <div class="flag flag-closed" ng-if="matter.status == 'closed'">Closed</div>
              </td>
              <td permission permission-only="['LAWYER', 'ADMIN']">
                <a ui-sref="profile.details(matter.customer)">{{matter.customer.first_name}} {{matter.customer.last_name}}</a>
              </td>
              <td permission permission-only="['CUSTOMER', 'ADMIN']">
                <a ui-sref="profile.details(matter.customer)">{{matter.owner.first_name}} {{matter.owner.last_name}}</a>
              </td>
              <td>{{matter.created_at | amDateFormat: "DD MMMM YYYY" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!showNext">
    <div class="col-sm-8">
      <div class="card m-t-25">
        <div class="card-header">
          <div ng-include="'views/partials/letterhead.html'"></div>
        </div>
        <div class="card-body card-padding">
          <h3>Lettera di incarico</h3>
          <hr/>
          <p>
            Il presente documento costituisce il preventivo e la lettera di incarico per l’attività di consulenza e assistenza legale richiesta (l’Incarico).<br/><br/>
            Le Condizioni Generali e l’Informativa in calce al presente documento costituiscono parte integrante e sostanziale dello stesso.
            <h4>Oggetto dell’Incarico</h4>
            L'incarico avrà per oggetto le seguenti attività:
          </p>

          <div ui-tree>
            <table ui-tree-nodes="" ng-model="matter.items" class="table table-bordered services">
              <thead>
                <tr>
                  <th></th>
                  <th>Services</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <!-- SERVICES -->
                <tr ng-repeat="item in matter.items" ui-tree-node>
                  <td width="5%">
                    <div class="checkbox">
                      <label ng-if="!item.is_mandatory">
                        <input type="checkbox" ng-model="item.is_selected">
                        <i class="input-helper"></i>
                      </label>
                      <label ng-if="item.is_mandatory">
                        <input type="checkbox" checked disabled>
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td width="80%">
                    <ul>
                      <li>
                        <h2 class="service-title">{{$index+1}}. {{item.title}}</h2>
                        <div>{{item.description}}</div>
                      </li>
                      <!-- SUB-SERVICES -->
                      <ol ui-tree-nodes="" ng-model="item.items" ng-if="item.items.length">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                          <h3 class="service-title">{{$parent.$parent.$index+1}}.{{$index+1}}. {{item.title}}</h3>
                          <div>{{item.description}}</div>
                        </li>
                      </ol>
                    </ul>
                  </td>
                  <td width="15%">
                    <span>€ {{item.price}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer card-padding card-actions">
          <button class="btn btn-orange btn-icon-text waves-effect" ng-click="next()">
            <span>Continue </span><i class="zmdi zmdi-arrow-forward"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="summary-box" class="card m-t-25">
        <div class="card-header ch-alt">
          <h2>Sommario <small>Seleziona solo i servizi desiderati</small></h2>
        </div>
        <div class="card-body card-padding">
          <table>
            <tbody>
              <tr ng-repeat="srv in matter.items">
                <td width="85%">
                  <div class="checkbox">
                    <label ng-if="!srv.is_mandatory">
                      <input type="checkbox" ng-model="srv.is_selected">
                      <i class="input-helper"></i>
                      {{srv.title}}
                    </label>
                    <label ng-if="srv.is_mandatory">
                      <input type="checkbox" checked disabled>
                      <i class="input-helper"></i>
                      {{srv.title}}
                    </label>
                  </div>
                </td>
                <td>
                  € {{srv.price | prettyNumber}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th width="85%">Netto da Versare:</th>
                <th>€ {{total | prettyNumber}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row matter-summary-card" ng-if="showNext">
    <div class="col-sm-12">
      <div id="lettera" class="card m-t-25">
        <div class="card-header">
          <div ng-include="'views/partials/letterhead.html'"></div>
          <ul class="actions">
            <li>
              <button class="btn btn-flat btn-default btn-icon-text waves-effect" ng-click="download()">
                <i class="zmdi zmdi-download"></i>Download PDF
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body card-padding" id="print">
          <h3>Riepilogo dei servizi</h3>
          <hr/>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Servizio</th>
                  <th>Importo</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in matter.items" ng-if="i.is_selected || i.is_mandatory">
                  <td>{{i.title}}</td>
                  <td>€ {{i.price | prettyNumber}}</td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td>Imponibile Prestazioni</td>
                  <td>€ {{total | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Rimborso spese generali (15%)</td>
                  <td>€ {{(total | percentage: 15) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Totale imponibile</td>
                  <td>€ {{(total + (total | percentage: 15)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Rivalsa parziale contributi previdenziali (4%)</td>
                  <td>€ {{((total + (total | percentage: 15)) | percentage: 4) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Totale imponibile</td>
                  <td>€ {{(total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Iva (22%)</td>
                  <td>€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <th>
                    <span ng-if="matter.withholding_tax">Totale fattura</span>
                    <span ng-if="!matter.withholding_tax">Netto da Versare</span>
                  </th>
                  <th>€ {{(total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.withholding_tax">
                  <td>Ritenuta d'acconto (-20% Totale Imponibile)</td>
                  <td>€ {{((total + (total | percentage: 15)) | percentage: 20) | prettyNumber}}</td>
                </tr>

                <tr ng-if="matter.withholding_tax">
                  <th>Netto da versare</th>
                  <th>€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) - ((total + (total | percentage: 15)) | percentage: 20)) | prettyNumber}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer card-padding card-actions">
          <button class="btn btn-default btn-icon-text waves-effect" ng-click="previous()">
            <i class="zmdi zmdi-arrow-back"></i>Back
          </button>
          <button class="btn btn-success btn-icon-text waves-effect" ng-click="pay()">
            <i class="zmdi zmdi-check"></i>Confirm & Pay
          </button>
        </div>
    </div>
  </div>
</div>
