<div class="container mt-25">

  <div class="card">
    <div class="card-header">
      <h2>
        Bozze <small>Le bozze che non hai ancora inviato al cliente.</small>
      </h2>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Practice Area</th>
            <th>Status</th>
            <th permission permission-only="['LAWYER', 'ADMIN']">Customer</th>
            <th permission permission-only="['CUSTOMER', 'ADMIN']">Lawyer</th>
            <th>Open Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="m in drafts">
            <td><a ui-sref="page.matter-details({id: m.id})">{{m.title}}</a></td>
            <td>{{m.area}}</td>
            <td>
              <div class="flag flag-success" ng-if="m.status == 'success'">{{m.status}}</div>
              <div class="flag flag-pending" ng-if="m.status == 'pending'">Pending</div>
              <div class="flag flag-closed" ng-if="m.status == 'closed'">Closed</div>
            </td>
            <td permission permission-only="['LAWYER', 'ADMIN']">
              <a ui-sref="profile.details({id: m.customer.id})">{{m.customer.first_name}} {{m.customer.last_name}}</a>
            </td>
            <td permission permission-only="['CUSTOMER', 'ADMIN']">
              <a ui-sref="profile.details({id: m.owner.id})">{{m.owner.first_name}} {{m.owner.last_name}}</a>
            </td>
            <td>{{m.open_date | date}}</td>
            <td permission permission-only="['LAWYER', 'ADMIN']">
              <a data-ui-sref="page.matter-edit({id: m.id})"><i class="zmdi zmdi-edit"></i> Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-centered" style="margin-top: -25px">
      <ul class="pagination ng-isolate-scope ng-valid" total-items="totalItems">
          <li ng-hide="u_page == 0" class="ng-scope">
              <a ng-click="u_page = u_page - 1">
                  <i class="zmdi zmdi-chevron-left"></i>
              </a>
          </li>
          <li ng-hide="drafts.length !== u_per_page">
              <a ng-click="u_page = u_page + 1">
                  <i class="zmdi zmdi-chevron-right"></i>
              </a>
          </li>
      </ul>
  </div>
</div>
