<div class="container">
  <div class="block-header">
    <h2><a ui-sref="page.matter-list"><i class="zmdi zmdi-arrow-left"></i> Back</a></h2>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>
        {{matter.title}}
        <small>{{matter.description}}</small>
      </h2>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Practice Area</th>
            <th>Status</th>
            <th>Open Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{matter.title}}</td>
            <td>{{matter.area}}</td>
            <td>
              <div class="flag flag-success" ng-if="matter.status == 'success'">Open</div>
              <div class="flag flag-pending" ng-if="matter.status == 'pending'">Pending</div>
              <div class="flag flag-closed" ng-if="matter.status == 'closed'">Closed</div>
            </td>
            <td>{{matter.open_date | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">


    <div class="col-sm-8">
        <div class="card">
          <div class="card-header">


            <div ui-tree>
              <ol ui-tree-nodes="" ng-model="services">
                <li ng-repeat="item in services" ui-tree-node>
                  <div ui-tree-handle>
                    {{item.title}}
                  </div>
                  <ol ui-tree-nodes="" ng-model="item.items">
                    <li ng-repeat="subItem in item.items" ui-tree-node>
                      <div ui-tree-handle>
                        {{subItem.title}}
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>


            <div class="service" ng-repeat="i in matter.items">

              <h3>{{$index + 1}}. {{i.title}}</h3>


              <p>{{i.description}}</p>

              <div class="sub-services">
                <div class="sub-service-item" ng-repeat="a in i.items">
                  <h2>{{$index + 1}}. {{a.title}}</h2>
                  <br/>
                  <p>{{a.description}}</p>
                </div>

              </div>

            </div>

          </div>
        </div>
    </div>



    <div id="todo-lists" class="col-sm-4">
      <div id="wrap">
        <br/>
        <h2>Sommario</h2>
        <br/>
        <p>Seleziona solo i servizi desiderati</p>

        <!-- <ul class="actions actions-alt">
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                        
                    </li>
                </ul>
            </li>
            </ul> -->


          <div class="" ng-repeat="w in matter.items">
            <div class="checkbox m-b-15">
              <label ng-if="!w.mandatory">
                <input type="checkbox" value="" ng-model="w.selected" ng-value="w.selected">
                <i class="input-helper"></i>
                {{w.title}}
              </label>
              <label ng-if="w.mandatory">
                <input type="checkbox" value="" checked disabled>
                <i class="input-helper"></i>
                {{w.title}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-8">
            <div class="card-header">
                <h2>Sommario <small></small></h2>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Servizio</th>
                            <th>Importo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in matter.items" ng-if="i.selected || i.mandatory">
                            <td>{{i.title}}</td>
                            <td>€ {{i.price}}</td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <th>Imponibile Prestazioni</th>
                            <th>€ {{totale}}</th>
                        </tr>
                        <tr>
                            <th>Rimborso spese generali (15%)</th>
                            <th>€ {{totale | percentage: 15}}</th>
                        </tr>
                        <tr>
                            <th>Totale imponibile</th>
                            <th>€ {{totale + (totale | percentage: 15)}}</th>
                        </tr>
                        <tr>
                            <th>Rivalsa parziale contributi previdenziali (4%)</th>
                            <th>€ {{((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                        </tr>
                        <tr>
                            <th>Totale imponibile</th>
                            <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                        </tr>
                        <tr>
                            <th>Iva (22%)</th>
                            <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>

                        
                        <tr>
                            <th><strong><span ng-if="item.ritenuta">Totale fattura</span><span ng-if="!item.ritenuta">Netto da Versare</span></strong></th>
                            <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                        </tr>

                        <tr ng-if="item.ritenuta">
                            <th>Ritenuta d'acconto (-20% Totale Imponibile)</th>
                            <th>€ {{(totale + (totale | percentage: 15)) | percentage: 20}}</th>
                        </tr>


                        <tr ng-if="item.ritenuta">
                            <th><strong>Netto da versare</strong></th>
                            <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)) - ((totale + (totale | percentage: 15)) | percentage: 20)}}</th>
                        </tr>
                    </tbody>
                </table>




            </div>
        </div>

  </div>






  
</div>
