<div class="container">
    <div class="block-header">
        <h2><a ui-sref="page.matter-list"><i class="zmdi zmdi-arrow-left"></i> Back</a></h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>
                <input type="text" class="form-control input-lg" placeholder="Title" ng-value="matter.title" ng-model="matter.title">
                <small><input type="text" class="form-control input-sm" placeholder="Description" ng-value="matter.description" ng-model="matter.description"></small>
            </h2>

            <div class="select" ng-hide="createMode == true" placeholder="select..">
                <select class="form-control" ng-model="matter.area" ng-value="matter.area">
                    <option value="{{i}}" ng-repeat="i in areas">{{i}}</option>
                    <option value="__area_create">Immetti manualmente</option>
                </select>
            </div>
            <input type="text" class="form-control input-sm" ng-if="createMode" placeholder="Area" ng-value="matter.area" ng-model="matter.area"></small>
        </div>


    </div>

<div class="row">

    <div class="col-sm-8">

        <div class="card" style="overflow:hidden !important">
            <div class="card-header" ui-tree>
                <div ui-tree-nodes="" ng-model="services">
                    <div class="service" ng-repeat="item in services" ui-tree-node>
                        <div>
                            <h3>{{$index + 1}}. <input type="text" class="form-control input-lg title-matter-input" placeholder="Title" ng-value="item.title" ng-model="item.title">
                                <div style="float: right">
                                    <div class="actions">
                                        <button class="btn bgm-lightgreen waves-effect" ng-click="saveService(item)"><i class="zmdi zmdi-cloud-upload"></i></button>
                                        <div class="btn btn-info waves-effect" ui-tree-handle><i class="zmdi zmdi-more-vert"></i></div>
                                        <button class="btn btn-danger waves-effect" ng-click="remove()"><i class="zmdi zmdi-close"></i></button>
                                    </div>  
                                </div>
                            </h3>

                            <textarea class="form-control matter-textarea" rows="5" placeholder="Insert service description" ng-model="item.description"></textarea>

                            <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                            <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="Price" ng-model="item.price" ng-value="item.price">
                                </div>
                            </div>

                            <div class="checkbox m-b-15">
                              <label class="ng-binding">
                                <input type="checkbox" value="" ng-model="item.mandatory" ng-value="item.mandatory">
                                <i class="input-helper"></i>
                                Il servizio è obbligatorio
                              </label>
                            </div>
                        </div>

                        <div class="sub-services" ui-tree-nodes="" ng-model="item.items">
                            <div class="sub-service-item" ng-repeat="subItem in item.items" ui-tree-node>
                                <div>
                                    <h3>{{$index + 1}}. <input type="text" class="form-control input-lg title-matter-input" placeholder="Title" ng-value="subItem.title" ng-model="subItem.title">
                                        <div style="float: right">
                                            <div class="actions">
                                                <button class="btn btn-default waves-effect" ng-click="saveService(subItem)"><i class="zmdi zmdi-cloud-upload"></i></button>
                                                <div class="btn btn-default waves-effect" ui-tree-handle><i class="zmdi zmdi-more-vert"></i></div>
                                                <button class="btn btn-default waves-effect" ng-click="removeSub(item, $index)"><i class="zmdi zmdi-close"></i></button>
                                            </div>
                                        </div>
                                    </h3>


                                    <textarea class="form-control matter-textarea" rows="5" placeholder="Insert service description" ng-model="subItem.description"></textarea>

                                    
                                </div>
                            </div>
                        </div>

                        <br/>
                        <button class="btn btn-primary waves-effect" ng-click="addSubItem(item)">Aggiungi sotto servizio</button>
                    </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-primary" ng-click="addItem()" style="margin-left: 50px">Aggiungi servizio</button>
            <br/><br/>

            <div class="button-group right" style="float:right;">
                <button class="btn btn-info waves-effect" ng-if="draftable" ng-click="save(true)">Salva come bozza</button>
                <button class="btn btn-success waves-effect" ng-click="save()" style="margin-right: 25px">Salva</button>
            </div>
            <br/><br/><br/>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Sommario <small>
                    <div class="checkbox m-b-15">
                      <label class="ng-binding">
                        <input type="checkbox" value="" ng-model="matter.ritenuta" ng-value="matter.ritenuta">
                        <i class="input-helper"></i>
                        Ritenuta d'acconto
                      </label>
                    </div></small></h2>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Servizio</th>
                            <th>Importo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in services">
                            <td>{{i.title}}</td>
                            <td>€ {{i.price}}</td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <th>Imponibile Prestazioni</th>
                            <th>€ {{totale}}</th>
                        </tr>
                        <tr>
                            <th>Rimborso spese generali (15%)</th>
                            <th>€ {{totale | percentage: 15}}</th>
                        </tr>
                        <tr>
                            <th>Totale imponibile</th>
                            <th>€ {{totale + (totale | percentage: 15)}}</th>
                        </tr>
                        <tr>
                            <th>Rivalsa parziale contributi previdenziali (4%)</th>
                            <th>€ {{((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                        </tr>
                        <tr>
                            <th>Totale imponibile</th>
                            <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                        </tr>
                        <tr>
                            <th>Iva (22%)</th>
                            <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>

                        
                        <tr>
                            <th><strong><span ng-if="item.ritenuta">Totale fattura</span><span ng-if="!item.ritenuta">Netto da Versare</span></strong></th>
                            <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                        </tr>

                        <tr ng-if="item.ritenuta">
                            <th>Ritenuta d'acconto (-20% Totale Imponibile)</th>
                            <th>€ {{(totale + (totale | percentage: 15)) | percentage: 20}}</th>
                        </tr>


                        <tr ng-if="item.ritenuta">
                            <th><strong>Netto da versare</strong></th>
                            <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)) - ((totale + (totale | percentage: 15)) | percentage: 20)}}</th>
                        </tr>
                    </tbody>
                </table>




            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div id="todo-lists" class="card">
            <div class="ng-scope">
                <div class="ch-alt m-b-20 card-header">
                    <h2>Servizi <br/><small>Scegli un servizio dal tuo bucket di servizi predefiniti</small></h2>
                </div>

                <div class="">
                    <div class="listview">

                        <a class="lv-item ng-scope" href="" ng-repeat="w in serv" style="">
                            <div class="media" ng-click="openService(w, $index)">
                                <div class="pull-left">
                                    <button ng-click="getFromBucket(w, $event)" class="btn bgm-cyan waves-effect waves-circle"><i class="zmdi zmdi-plus"></i></button>
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">{{w.title}}</div>
                                    <small class="lv-small ng-binding">{{w.description}}</small>
                                </div>
                            </div>
                        </a>

                        <div class="pagination-centered">
                            <ul class="pagination ng-isolate-scope ng-valid" total-items="totalItems">
                                <li ng-hide="page == 0" class="ng-scope">
                                    <a ng-click="page = page - 1">
                                        <i class="zmdi zmdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li ng-hide="serv.length !== per_page">
                                    <a ng-click="page = page + 1">
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="todo-lists" class="card">
            <div class="ng-scope">
                <div class="ch-alt m-b-20 card-header">
                    <h2>Bozze <br/><small>Scegli una bozza dal tuo bucket di lettere di incarico predefinite</small></h2>
                </div>

                <div class="">
                    <div class="listview">

                        <a class="lv-item ng-scope" href="" ng-repeat="w in drafts" style="">
                            <div class="media" ng-click="openDraft(w, $index)">
                                <div class="pull-left">
                                    <button ng-click="getMFromBucket(w, $event)" class="btn bgm-cyan waves-effect waves-circle"><i class="zmdi zmdi-plus"></i></button>
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">{{w.title}}</div>
                                    <small class="lv-small ng-binding">{{w.description}}</small>
                                </div>
                            </div>
                        </a>

                        <div class="pagination-centered">
                            <ul class="pagination ng-isolate-scope ng-valid" total-items="totalItems">
                                <li ng-hide="u_page == 0" class="ng-scope">
                                    <a ng-click="u_page = u_page - 1">
                                        <i class="zmdi zmdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li ng-hide="serv.length !== u_per_page">
                                    <a ng-click="u_page = u_page + 1">
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

</div>

  <!-- <div class="card">
        <div class="card-header ch-alt text-center">
            <img class="i-logo" src="img/demo/invoice-logo.png" alt="">
        </div>

        <div class="card-body card-padding">
            <div class="row m-b-25">
                <div class="col-xs-6">
                    <div class="text-right">
                        <p class="c-gray">Invoice from</p>

                        <h4>David Designs LLC</h4>

                        <span class="text-muted">
                            <address>
                                44, Qube Towers
                                Dubai Media City, Dubai<br>
                                United Arab Emirates
                            </address>

                            0097154686384<br/>
                            david.atom@ddesign.com
                        </span>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="i-to">
                        <p class="c-gray">Invoice to</p>

                        <h4>Mallinda Hollaway</h4>

                        <span class="text-muted">
                            <address>
                                10098 ABC Towers
                                Dubai Silicon Oasis, Dubai<br>
                                United Arab Emirates.
                            </address>

                            00971123456789<br/>
                            malinda.h@gmail.com
                        </span>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row m-t-25 p-0 m-b-25">
                <div class="col-xs-3">
                    <div class="bgm-amber brd-2 p-15">
                        <div class="c-white m-b-5">Invoice#</div>
                        <h2 class="m-0 c-white f-300">456213</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Date</div>
                        <h2 class="m-0 c-white f-300">20/06/2015</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-green brd-2 p-15">
                        <div class="c-white m-b-5">Whatever</div>
                        <h2 class="m-0 c-white f-300">472-000</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-red brd-2 p-15">
                        <div class="c-white m-b-5">Grand Total</div>
                        <h2 class="m-0 c-white f-300">$23,980</h2>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <table class="table i-table m-t-25 m-b-25">
                <thead class="text-uppercase">
                    <th class="c-gray">ITEM DESCRIPTION</th>
                    <th class="c-gray">UNIT PRICE</th>
                    <th class="c-gray">QUANTITY</th>
                    <th class="highlight">TOTAL</th>
                </thead>

                <tbody>
                    <thead>
                        <tr>
                            <td width="50%">
                                <h5 class="text-uppercase f-400">Curabitur lobortis</h5>
                                <p class="text-muted">Nullam consectetur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>
                            </td>

                            <td>$450.00</td>
                            <td>05</td>
                            <td class="highlight">$2250.00</td>
                        </tr>

                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Phasellus idarcu suscipit nun</h5>
                                <p class="text-muted">Pellentesque habitant morbi tristique senectus</p>
                            </td>
                            <td>$20.00</td>
                            <td>02</td>
                            <td class="highlight">$40.00</td>
                        </tr>

                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Vivamus</h5>
                                <p class="text-muted">Maecenas nec faucibus lectus. Ut cursus elit ante, rutrum pretium augue tincidunt ut. Suspendisse ultrices sapien sit amet</p>
                            </td>
                            <td>$2322.00</td>
                            <td>01</td>
                            <td class="highlight">$2322.00</td>
                        </tr>

                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Nullam consectetur dolor</h5>
                                <p class="text-muted">Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi</p>
                            </td>
                            <td>$1290.00</td>
                            <td>12</td>
                            <td class="highlight">$15,480.00</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td class="highlight">$20,092.00</td>
                        </tr>
                    </thead>
                </tbody>
            </table>

            <div class="clearfix"></div>

            <div class="p-25">
                <h4 class="c-green f-400">REMARKS</h4>
                <p class="c-gray">Ornare non tortor. Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat vel ante fermentum lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut pellentesque. Phasellus vehicula dictum arcu, eu interdum massa bibendum.</p>

                <br/>

                <h4 class="c-green f-400">MERCY FOR YOUR BUSINESS</h4>
                <p class="c-gray">Proin ac iaculis metus. Etiam nisi nulla, fermentum blandit consectetur sed, ornare non tortor. Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat vel ante fermentum lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut pellentesque. Phasellus vehicula dictum arcu, eu interdum massa bibendum sit amet.</p>
            </div>
        </div>

        <footer class="m-t-15 p-20">
            <ul class="list-inline text-center list-unstyled">
                <li class="m-l-5 m-r-5"><small>support@company.com</small></li>
                <li class="m-l-5 m-r-5"><small>00971 452 9900</small></li>
                <li class="m-l-5 m-r-5"><small>www.company.com</small></li>
            </ul>
        </footer>
    </div> -->  
</div>
