<div class="row mt-25 center-vertically">
  <div class="col-sm-4 col-sm-offset-4">
    <!-- SIGNUP -->
    <div class="card">
      <div class="card-header ch-alt">
        <h2>Forgot your password? <small>Insert your email to retrieve a reset password link</small></h2>
      </div>

      <div class="card-body card-padding">
        <form ng-submit="reset_password(form)">
          <div class="form-group">
            <div class="fg-line">
              <input type="email" name="email" class="form-control input-sm" ng-model="form.email" placeholder="Your email address" required autofocus>
            </div>
          </div>
          <button type="submit" class="btn btn-orange btn-block waves-effect">
            <span ng-show="isSending">Sending...</span>
            <span ng-show="!isSending">Send Password</span>
          </button>
        </form>

        <div class="text-left mt-25">Trying to <a ui-sref="auth.login" class="m-t-5">sign in</a>?</div>
        <div class="text-left">Don't have an account? <a ui-sref="auth.signup" class="m-t-5">Create an account</a></div>
      </div>
    </div>
  </div>
</div>
