<div class="row m-t-25 center-vertically">
  <div class="col-sm-4 col-sm-offset-4">
    <!-- SIGNUP -->
    <div class="card">
      <div class="card-header ch-alt">
        <h2>Hai dimenticato la password? <small>Inserisci la tua email per impostare una nuova password</small></h2>
      </div>

      <div class="card-body card-padding">
        <form ng-submit="reset_password(form)">
          <div class="form-group">
            <div class="fg-line">
              <input type="email" name="email" class="form-control input-sm" ng-model="form.email" placeholder="Inserisci la tua email" required autofocus>
            </div>
          </div>
          <button type="submit" class="btn btn-orange btn-block waves-effect">
            <span ng-show="isSending">Invio...</span>
            <span ng-show="!isSending">INVIA</span>
          </button>
        </form>

        <div class="text-left m-t-25">Vuoi <a ui-sref="auth.login">Accedere</a>?</div>
        <div class="text-left">Non hai un account? <a ui-sref="auth.signup" class="m-t-5">Registrati</a>!</div>
      </div>
    </div>
  </div>
</div>
