<div class="container retainer-agreement retainer-agreement-details">

  <div ng-if="retainer_agreement.is_draft" class="alert alert-info top-alert m-t-20 flex space-between" role="alert"
    permission permission-only="['LAWYER', 'ADMIN']">
    <span class="f-700 m-t-5">Questa Lettera di Incarico non è ancora stata spedita</span>
    <button class="btn btn-success waves-effect" ng-click="sendRetainerAgreement()">
      <i class="zmdi zmdi-mail-send"></i> INVIA AL CLIENTE
    </button>
  </div>

  <div class="row" ng-if="!showNext && !readMode">
    <div class="col-sm-8">
      <div class="card m-t-25 invoice-letter">
        <div class="card-header">
          <div class="invoice-letter-header">
            <img src="images/logo.png" alt="">
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.customer.id">
              <h4>Spett.le {{retainer_agreement.matter.customer.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.matter.customer.address">{{retainer_agreement.matter.customer.address}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.fiscal_code">C.F. {{retainer_agreement.matter.customer.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.vat_number">P.I. {{retainer_agreement.matter.customer.vat_number}}</span>
              </p>
            </div>
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.company.id">
              <h4>All'attenzione di {{retainer_agreement.matter.company.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.matter.company.address">{{retainer_agreement.matter.company.address}}</span><br/>
                <span ng-if="retainer_agreement.matter.company.vat">P.I. {{retainer_agreement.matter.company.vat}}</span><br/>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="card-body card-padding">
          <div class="row">
            <div class="col-sm-6">
              <h4>Avv. {{retainer_agreement.owner.first_name}} {{retainer_agreement.owner.last_name}}</h4>
              <p>
                <span ng-if="retainer_agreement.owner.address">{{retainer_agreement.owner.address}}</span><br/>
                <span ng-if="retainer_agreement.owner.fiscal_code">C.F. {{retainer_agreement.owner.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.owner.vat_number">P.I. {{retainer_agreement.owner.vat_number}}</span>
              </p>
            </div>
            <div class="col-sm-6 text-right"></div>
          </div>

          <h3>Lettera di incarico</h3>
          <hr/>
          <p ng-if="retainer_agreement.description">{{retainer_agreement.description}}</p>
          <p ng-if="!retainer_agreement.description">
            Il presente documento costituisce il preventivo e la lettera di incarico per l’attività di consulenza e assistenza legale richiesta (l’Incarico).<br/><br/>
            Le Condizioni Generali e l’Informativa in calce al presente documento costituiscono parte integrante e sostanziale dello stesso.
          </p>
          <p>
            <h4>Oggetto dell’Incarico</h4>
            L'incarico avrà per oggetto le seguenti attività:
          </p>

          <div ui-tree>
            <table ui-tree-nodes="" ng-model="retainer_agreement.items" class="table table-bordered services">
              <thead>
                <tr>
                  <th></th>
                  <th>Servizi</th>
                  <!-- <th>Price</th> -->
                </tr>
              </thead>
              <tbody>
                <!-- SERVICES -->
                <tr ng-repeat="item in retainer_agreement.items" ui-tree-node>
                  <td width="5%">
                    <div class="checkbox">
                      <label ng-if="!item.is_mandatory">
                        <input type="checkbox" ng-model="item.is_selected">
                        <i class="input-helper"></i>
                      </label>
                      <label ng-if="item.is_mandatory">
                        <input type="checkbox" checked disabled>
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td width="80%">
                    <ul>
                      <li>
                        <h2 class="service-title">{{$index+1}}. {{item.title}}</h2>
                        <div>{{item.description}}</div>
                      </li>
                      <!-- SUB-SERVICES -->
                      <ol ui-tree-nodes="" ng-model="item.items" ng-if="item.items.length">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                          <h3 class="service-title">{{$parent.$parent.$index+1}}.{{$index+1}}. {{subItem.title}}</h3>
                          <div>{{subItem.description}}</div>
                        </li>
                      </ol>
                    </ul>
                  </td>
                  <!-- <td width="15%">
                    <span>€ {{item.price}}</span>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>

          <div class="m-t-25">
            <h4>Note e Assumptions</h4>
            <hr/>
            <p>
              L’Incarico viene conferito e accettato sul presupposto che le attività descritte nella presente lettera di
              Incarico non eccedano per complessità e quantità i livelli prevedibili sulla base delle informazioni forniteci e,
              comunque, normalmente prevedibili per incarichi di natura simile. <br><br>
              Le regole di deontologia professionale impongono in capo ai professionisti dello Studio un obbligo di
              riservatezza sulle informazioni ricevute in esecuzione dell’incarico. <br><br>
              Nel ringraziarVi nuovamente, restiamo a Vostra disposizione per ogni ulteriore chiarimento od occorrenza in
              relazione alla presente offerta. <br><br>
              <br>
              Con i migliori saluti, <br>
              Avv. {{retainer_agreement.owner.first_name}} {{retainer_agreement.owner.last_name}}
            </p>
          </div>
          <div class="m-t-25 m-b-25">
            <form ng-submit="next()" class="p-t-25">
              <div class="checkbox m-b-15">
                <label><input type="checkbox" required><i class="input-helper"></i>
                  Il/la sottoscritto/a dichiara di accettare espressamente, ai sensi degli Articoli 1341 e 1342 C.C. le seguenti clausole: Dati Tecnici, Compensi Professionali e Estensione dell’Incarico.
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-orange btn-block btn-icon-text waves-effect">
                  <span>Accetta e Conferma</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="summary-box" class="card m-t-25">
        <div class="card-header ch-alt">
          <h2>Sommario <small>Seleziona solo i servizi desiderati</small></h2>
        </div>
        <div class="card-body card-padding">
          <table width="100%">
            <tbody>
              <tr ng-repeat="srv in retainer_agreement.items">
                <td width="75%">
                  <div class="checkbox">
                    <label ng-if="!srv.is_mandatory">
                      <input type="checkbox" ng-model="srv.is_selected">
                      <i class="input-helper"></i>
                      {{srv.title}}
                    </label>
                    <label ng-if="srv.is_mandatory">
                      <input type="checkbox" checked disabled>
                      <i class="input-helper"></i>
                      {{srv.title}}
                    </label>
                  </div>
                </td>
                <td>
                  € {{srv.price | prettyNumber}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th width="75%">Importo servizi:</th>
                <th>€ {{ invoice.full.total_services | prettyNumber}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- NEXT PAGE -->
  <div class="row" ng-show="showNext && !readMode">
    <div class="col-sm-12">
      <div class="card m-t-25 invoice-letter">
        <div class="card-header">
          <div class="invoice-letter-header">
            <img src="images/logo.png" alt="">
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.customer.id">
              <h4>Spett.le {{retainer_agreement.matter.customer.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.matter.customer.address">{{retainer_agreement.matter.customer.address}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.fiscal_code">C.F. {{retainer_agreement.matter.customer.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.vat_number">P.I. {{retainer_agreement.matter.customer.vat_number}}</span>
              </p>
            </div>
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.company.id">
              <h4>All'attenzione di {{retainer_agreement.matter.company.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.matter.company.address">{{retainer_agreement.matter.company.address}}</span><br/>
                <span ng-if="retainer_agreement.matter.company.vat">P.I. {{retainer_agreement.matter.company.vat}}</span><br/>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="card-body card-padding">
          <div class="row">
            <div class="col-sm-6">
              <h4>Avv. {{retainer_agreement.owner.first_name}} {{retainer_agreement.owner.last_name}}</h4>
              <p>
                <span ng-if="retainer_agreement.owner.address">{{retainer_agreement.owner.address}}</span><br/>
                <span ng-if="retainer_agreement.owner.fiscal_code">C.F. {{retainer_agreement.owner.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.owner.vat_number">P.I. {{retainer_agreement.owner.vat_number}}</span>
              </p>
            </div>
            <div class="col-sm-6 text-right"></div>
          </div>

          <div class="row">
            <div class="col-sm-12 invoice-letter-body">
              <div ng-include="'views/partials/invoice-summary.html'"></div>
            </div>
          </div>

        </div>

        <div class="card-footer card-padding">
          <div class="pull-right">
            <button class="btn waves-effect" ng-click="showNext = false">
              <i class="zmdi zmdi-arrow-back"></i><span> Indietro</span>
            </button>
            <span ng-if="current_user.id != retainer_agreement.owner.id">
              <button class="btn btn-primary waves-effect" ng-click="openPaymentModal()">
                <span>Effettua Pagamento</span>
              </button>
            </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- READ MODE -->
  <div class="row" ng-if="readMode">
    <div class="col-sm-12">
      <div class="card m-t-25 invoice-letter">
        <div class="card-header">
          <div class="invoice-letter-header">
            <img src="images/logo.png" alt="">
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.customer.id">
              <h4>Spett.le {{retainer_agreement.matter.customer.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.matter.customer.address">{{retainer_agreement.matter.customer.address}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.fiscal_code">C.F. {{retainer_agreement.matter.customer.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.matter.customer.vat_number">P.I. {{retainer_agreement.matter.customer.vat_number}}</span>
              </p>
            </div>
            <div class="pull-right text-right" ng-if="retainer_agreement.matter.company.id">
              <h4>All'attenzione di {{retainer_agreement.matter.company.name}}</h4>
              <p>
                <span ng-if="retainer_agreement.company.address">{{retainer_agreement.matter.company.address}}</span><br/>
                <span ng-if="retainer_agreement.company.vat">P.I. {{retainer_agreement.matter.company.vat}}</span><br/>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="card-body card-padding">
          <div class="row">
            <div class="col-sm-6">
              <h4>Avv. {{retainer_agreement.owner.first_name}} {{retainer_agreement.owner.last_name}}</h4>
              <p>
                <span ng-if="retainer_agreement.owner.address">{{retainer_agreement.owner.address}}</span><br/>
                <span ng-if="retainer_agreement.owner.fiscal_code">C.F. {{retainer_agreement.owner.fiscal_code}}</span><br/>
                <span ng-if="retainer_agreement.owner.vat_number">P.I. {{retainer_agreement.owner.vat_number}}</span>
              </p>
            </div>
            <div class="col-sm-6 text-right"></div>
          </div>

          <h3>Lettera di incarico</h3>
          <hr/>
          <p ng-if="retainer_agreement.description">{{retainer_agreement.description}}</p>
          <p ng-if="!retainer_agreement.description">
            Il presente documento costituisce il preventivo e la lettera di incarico per l’attività di consulenza e assistenza legale richiesta (l’Incarico).<br/><br/>
            Le Condizioni Generali e l’Informativa in calce al presente documento costituiscono parte integrante e sostanziale dello stesso.
          </p>
          <p>
            <h4>Oggetto dell’Incarico</h4>
            L'incarico avrà per oggetto le seguenti attività:
          </p>
          <div class="row">
            <div class="col-sm-12 invoice-letter-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Servizi</th>
                    <th>Importo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in retainer_agreement.items" ng-if="showAllSrv || i.is_mandatory || i.is_selected">
                    <td width="85%">
                      <strong>{{i.title}}</strong>
                      <p>{{i.description}}</p>
                    </td>
                    <td>€ {{i.price | prettyNumber}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="m-t-25">
            <h4>Note e Assumptions</h4>
            <hr/>
            <p>
              L’Incarico viene conferito e accettato sul presupposto che le attività descritte nella presente lettera di
              Incarico non eccedano per complessità e quantità i livelli prevedibili sulla base delle informazioni forniteci e,
              comunque, normalmente prevedibili per incarichi di natura simile. <br><br>
              Le regole di deontologia professionale impongono in capo ai professionisti dello Studio un obbligo di
              riservatezza sulle informazioni ricevute in esecuzione dell’incarico. <br><br>
              Nel ringraziarVi nuovamente, restiamo a Vostra disposizione per ogni ulteriore chiarimento od occorrenza in
              relazione alla presente offerta. <br><br>
              <br>
              Con i migliori saluti, <br>
              Avv. {{retainer_agreement.owner.first_name}} {{retainer_agreement.owner.last_name}}
            </p>
          </div>
        </div>
        <div class="card-footer card-padding">
          <hr>
          <ul class="list-inline text-center list-unstyled">
            <li class="m-l-5 m-r-5"><small>Via Mazzini n. 10 - 20123 Milano, Italia</small></li>
            <li class="m-l-5 m-r-5"><small>Phone: +39 049 8758955 - Fax: +39 049 8759252</small></li>
            <li class="m-l-5 m-r-5"><small>Email: <a href="mailto:info@crclex.com">info@crclex.com</a></small></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
