.invoices {
  .card-header .actions {
    top: 18px;
    right: 18px;
  }
  .top-alert {
    display: flex;
    span:first-child {
      line-height: 1;
      padding: 6px 0px;
    }
    button {
      margin-left: auto;
    }
  }
  table {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    thead tr th {
      background: #FF621D !important;
      color: white !important;
    }
    p {
      margin-bottom: 0;
    }
  }
  .invoice-number {
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
    h4 {
      font-weight: 300;
    }
  }
}

/* ==================
 * INVOICE DETAILS
 * ===================*/
