<div class="card" style="overflow:hidden !important">
    <div class="card-header" ui-tree>
        <div ui-tree-nodes="" ng-model="matter.items">
            <div class="service" ng-repeat="item in matter.items" ui-tree-node>
                <div>
                    <h3>{{$index + 1}}. <input type="text" class="form-control input-lg title-matter-input" placeholder="Title" ng-value="item.title" ng-model="item.title">
                        <div style="float: right">
                            <div class="actions">
                                <button class="btn bgm-lightgreen waves-effect" ng-click="saveService(item)"><i class="zmdi zmdi-cloud-upload"></i></button>
                                <div class="btn btn-info waves-effect" ui-tree-handle><i class="zmdi zmdi-more-vert"></i></div>
                                <button class="btn btn-danger waves-effect" ng-click="editor.remove($index, matter.items)"><i class="zmdi zmdi-close"></i></button>
                            </div>  
                        </div>
                    </h3>

                    <textarea class="form-control matter-textarea" rows="5" placeholder="Insert service description" ng-model="item.description"></textarea>

                    <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                    <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Price" ng-model="item.price" ng-value="item.price">
                        </div>
                    </div>

                    <div class="checkbox m-b-15">
                      <label class="ng-binding">
                        <input type="checkbox" value="" ng-model="item.mandatory" ng-value="item.mandatory">
                        <i class="input-helper"></i>
                        Il servizio è obbligatorio
                      </label>
                    </div>
                </div>

                <div class="sub-services" ui-tree-nodes="" ng-model="item.items">
                    <div class="sub-service-item" ng-repeat="subItem in item.items" ui-tree-node>
                        <div>
                            <h3>{{$index + 1}}. <input type="text" class="form-control input-lg title-matter-input" placeholder="Title" ng-value="subItem.title" ng-model="subItem.title">
                                <div style="float: right">
                                    <div class="actions">
                                        <button class="btn btn-default waves-effect" ng-click="saveService(subItem)"><i class="zmdi zmdi-cloud-upload"></i></button>
                                        <div class="btn btn-default waves-effect" ui-tree-handle><i class="zmdi zmdi-more-vert"></i></div>
                                        <button class="btn btn-default waves-effect" ng-click="editor.removeSub(item, $index)"><i class="zmdi zmdi-close"></i></button>
                                    </div>
                                </div>
                            </h3>

                            <textarea class="form-control matter-textarea" rows="5" placeholder="Insert service description" ng-model="subItem.description"></textarea>
                            
                        </div>
                    </div>
                </div>

                <br/>
                <button class="btn btn-primary waves-effect" ng-click="editor.addSubItem(item)">Aggiungi sotto servizio</button>
            </div>
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" ng-click="editor.addItem(null, matter.items)" style="margin-left: 50px">Aggiungi servizio</button>
    <br/><br/>

    

    <div class="button-group right" style="float:right;">
        <button class="btn btn-info waves-effect" ng-if="draftable && !draft" ng-click="editor.saveAsTemplate(matter)">Salva come modello</button>
        <button class="btn btn-success waves-effect" ng-disabled="saving" ng-click="save(matter)" style="margin-right: 25px">{{saving_text}}</button>
    </div>

    <div style="float:right; width: 100%; text-align: right; padding: 25px; padding-top: 0">
        <h3><small>{{saved_text}}</small></h3>
    </div>
    <br/><br/><br/>
</div>


<div class="card">
    <div class="card-header">
        <h2>Sommario <small>
            <div class="checkbox m-b-15">
              <label class="ng-binding">
                <input type="checkbox" value="" ng-model="matter.ritenuta" ng-value="matter.ritenuta">
                <i class="input-helper"></i>
                Ritenuta d'acconto
              </label>
            </div></small></h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servizio</th>
                    <th>Importo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in matter.items">
                    <td>{{i.title}}</td>
                    <td>€ {{i.price}}</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th>Imponibile Prestazioni</th>
                    <th>€ {{totale}}</th>
                </tr>
                <tr>
                    <th>Rimborso spese generali (15%)</th>
                    <th>€ {{totale | percentage: 15}}</th>
                </tr>
                <tr>
                    <th>Totale imponibile</th>
                    <th>€ {{totale + (totale | percentage: 15)}}</th>
                </tr>
                <tr>
                    <th>Rivalsa parziale contributi previdenziali (4%)</th>
                    <th>€ {{((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                </tr>
                <tr>
                    <th>Totale imponibile</th>
                    <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4)}}</th>
                </tr>
                <tr>
                    <th>Iva (22%)</th>
                    <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>

                
                <tr>
                    <th><strong><span ng-if="matter.ritenuta">Totale fattura</span><span ng-if="!matter.ritenuta">Netto da Versare</span></strong></th>
                    <th>€ {{totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)}}</th>
                </tr>

                <tr ng-if="matter.ritenuta">
                    <th>Ritenuta d'acconto (-20% Totale Imponibile)</th>
                    <th>€ {{(totale + (totale | percentage: 15)) | percentage: 20}}</th>
                </tr>


                <tr ng-if="matter.ritenuta">
                    <th><strong>Netto da versare</strong></th>
                    <th>€ {{(totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) + (totale + (totale | percentage: 15) + ((totale + (totale | percentage: 15)) | percentage: 4) | percentage: 22)) - ((totale + (totale | percentage: 15)) | percentage: 20)}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
