<ul class="header-inner clearfix">

  <li id="menu-trigger" ng-click="mactrl.toggleSidebar('left')" ng-class="{'open': mactrl.showSidebar.left === true}" ng-show="isAuthenticated">
    <div class="line-wrap">
      <div class="line top"></div>
      <div class="line center"></div>
      <div class="line bottom"></div>
    </div>
  </li>

  <li class="logo hidden-xs">
    <a data-ui-sref="auth.login" data-ng-click="mactrl.sidebarStat($event)">
      <div class="logo-box"><strong>CRC</strong>LEX</div>
    </a>
  </li>

  <!-- Right Content -->
  <li class="pull-right" ng-if="isAuthenticated">
    <ul class="top-menu">

      <!-- Messages -->
      <!-- <li class="dropdown" uib-dropdown>
        <a uib-dropdown-toggle href="">
          <i class="tm-icon zmdi zmdi-email"></i>
          <i class="tmn-counts">6</i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
          <div class="listview">
            <div class="lv-header">Messages</div>
            <div class="lv-body">
              <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                <div class="media">
                  <div class="pull-left">
                    <img class="lv-img-sm" ng-src="{{ w.img }}" alt="">
                  </div>
                  <div class="media-body">
                    <div class="lv-title">{{ w.user }}</div>
                    <small class="lv-small">{{ w.text }}</small>
                  </div>
                </div>
              </a>
            </div>
            <div class="clearfix"></div>
            <a class="lv-footer" href="">View All</a>
          </div>
        </div>
      </li> -->

      <!-- Notification -->
      <li class="dropdown" uib-dropdown>
        <a uib-dropdown-toggle href="">
          <i class="tm-icon zmdi zmdi-notifications"></i>
          <!-- <i class="tmn-counts">9</i> -->
        </a>
        <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
          <div class="listview" id="notifications">
            <div class="lv-header">
              Notification
              <ul class="actions">
                <li>
                  <a href="" data-ng-click="hctrl.clearNotification($event)">
                    <i class="zmdi zmdi-check-all"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="lv-body">
              <a class="lv-item" ng-href="" ng-repeat="w in notifications">
                <div class="media">
                  <div class="pull-left">
                    <img class="lv-img-sm" ng-src="{{ w.issuer.avatar_url }}" default-src random="true">
                  </div>
                  <div class="media-body" style="cursor:pointer">
                    <div ng-if="w.action_type=='invoice-paid'" ui-sref="page.invoice-details({id: w.resource._id})">
                      <div class="lv-title">Pagamento Fattura</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ha pagato una fattura</small>
                    </div>
                    <div ng-if="w.action_type=='retainer-create'" ui-sref="page.retainer_agreement-details({id: w.resource._id})">
                      <div class="lv-title">Nuovo preventivo</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ti ha assegnato una lettera di incarico</small>
                    </div>
                    <div ng-if="w.action_type=='form-create'" ui-sref="page.form-answer({id: w.resource._id})">
                      <div class="lv-title">Nuovo questionario</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ti ha assegnato un nuovo questionario</small>
                    </div>
                    <div ng-if="w.action_type=='form-answer'" ui-sref="page.form-answer({id: w.resource._id})">
                      <div class="lv-title">Risposta questionario</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ha risposto ad un questionario</small>
                    </div>
                    <div ng-if="w.action_type=='join-invitation'" ui-sref="profile.details({id: w.resource._id})">
                      <div class="lv-title">Invito</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ti ha invitato a partecipare a elawyer</small>
                    </div>
                    <div ng-if="w.action_type=='signup'" ui-sref="profile.details({id: w.resource._id})">
                      <div class="lv-title">Benvenuto</div>
                      <small class="lv-small" >Benvenuto su elawyer {{ w.target.first_name }} {{ w.target.last_name }} </small>
                    </div>
                    <div ng-if="w.action_type=='company-invitation'" ui-sref="company.details({id: w.resource._id})">
                      <div class="lv-title">Invito - a {{ w.resource.name }}</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ti ha invitato come collaboratore di {{ w.resource.name }}</small>
                    </div>
                    <div ng-if="w.action_type=='matter-create'" ui-sref="page.matter-details({id: w.resource._id})">
                      <div class="lv-title">Nuova pratica</div>
                      <small class="lv-small" >{{ w.issuer.first_name }} {{ w.issuer.last_name }} ti ha assegnato una nuova pratica chiamata: {{ w.resource.name }}</small>
                    </div>
                    <div ng-if="w.action_type=='password-reset'" ui-sref="page.matter-details({id: w.resource._id})">
                      <div class="lv-title">Richiesta reset password</div>
                      <small class="lv-small" >Hai chiesto di resettare la tua password</small>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="clearfix"></div>
            <a class="lv-footer" href="">View Previous</a>
          </div>
        </div>
      </li>

      <!-- <li class="dropdown" uib-dropdown>
        <a uib-dropdown-toggle href="">
          <i class="tm-icon zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu dm-icon pull-right">

          <li>
            <a ui-sref="profile.details({id: current_user.id})"><i class="zmdi zmdi-mood"></i> Profile</a>
          </li>
          <li>
            <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
          </li>
          <li ng-controller="AuthenticationCtrl">
            <a data-ng-click="logout()" href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
          </li>
        </ul>
      </li> -->

    </ul>
  </li> <!-- Right Content: isAuthenticated -->

  <li class="pull-right" ng-if="!isAuthenticated">
    <ul class="top-menu">
      <li><a ui-sref="auth.login"><span class="tm-label">ACCEDI</span></a></li>
      <li><a ui-sref="auth.signup"><span class="tm-label">REGISTRATI</span></a></li>
    </ul>
  </li>

</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
  <div class="tsw-inner">
    <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
    <input type="text">
  </div>
</div>
