<div class="invoice-letter-header">
  <img src="images/logo.png" alt="">
  <div class="pull-left text-left">
    <p>
      <strong>Padova</strong><br/>
      <strong>Corso del Popolo n. 1 - 35131</strong><br/>
      <span>+39 049 8758955 - Fax +39 049 8759252</span>
    </p>
    <p>
      <strong>Milano</strong><br/>
      <strong>Piazza del Duomo n. 20 - 20123</strong><br/>
      <span>+39 02 7222201 - Fax + 39 02 861375</span>
    </p>
  </div>
  <div class="pull-right text-right" style="position:relative;">
    <ul class="btn-download">
      <li>
        <button class="btn btn-flat btn-default btn-icon-text waves-effect" ng-click="download(true)">
          <i class="zmdi zmdi-download"></i>Scarica PDF
        </button>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
