<div class="card">
    <div class="card-header">
        <h2>
            <input type="text" class="form-control input-lg" placeholder="Title" ng-value="matter.title" ng-model="matter.title">
            <small><input type="text" class="form-control input-sm" placeholder="Description" ng-value="matter.description" ng-model="matter.description"></small>
        </h2>

        <div class="select" ng-hide="createMode == true" placeholder="select..">
            <select class="form-control" ng-model="matter.area" ng-value="matter.area">
                <option value="{{i}}" ng-repeat="i in areas">{{i}}</option>
                <option value="__area_create">Immetti manualmente</option>
            </select>
        </div>
        <input type="text" class="form-control input-sm" ng-if="createMode" placeholder="Area" ng-value="matter.area" ng-model="matter.area"></small>
    </div>
</div>