<div class="sidebar-inner c-overflow" ng-show="isAuthenticated">

  <div class="profile-menu">
    <a href="" toggle-submenu>
      <div class="profile-pic">
        <img ng-src="{{current_user.avatar_url}}" default-src alt="">
      </div>
      <div class="profile-info">
        {{current_user.first_name}} {{current_user.last_name}}
        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <a data-ui-sref="profile.details({id: current_user.id})" data-ng-click="mactrl.sidebarStat($event)">
          <i class="zmdi zmdi-account"></i> Profilo
        </a>
      </li>
      <li>
        <a data-ui-sref="company.index" data-ng-click="mactrl.sidebarStat($event)">
          <i class="zmdi zmdi-accounts"></i> Aziende
        </a>
      </li>
      <!-- <li>
        <a href=""><i class="zmdi zmdi-settings"></i> Impostazioni</a>
      </li> -->
      <li ng-controller="AuthenticationCtrl">
        <a href="" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
  </div>

  <ul class="main-menu">

    <!-- <li data-ui-sref-active="active">
      <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
    </li> -->

    <!-- Tutti gli or sono perchè le risorse sono sotto il namespace page. Bisognerebbe utilizzare una navigazione con bradcrumb anche nelle route di angular e.g: /matters/retainer_agreements/352352jb5h32jh32-->

    <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('page.customer-list') || mactrl.$state.includes('page.lawyer-list')}"
      permission permission-only="['LAWYER', 'ADMIN']">
      <a href="" toggle-submenu><i class="zmdi zmdi-accounts"></i> Utenti</a>
      <ul>
        <li><a data-ui-sref-active="active" data-ui-sref="page.customer-list" data-ng-click="mactrl.sidebarStat($event)">Clienti</a></li>
        <li><a data-ui-sref-active="active" data-ui-sref="page.lawyer-list" data-ng-click="mactrl.sidebarStat($event)">Avvocati</a></li>
      </ul>
    </li>

    <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('page.form-list') ||  mactrl.$state.includes('page.form-draft') || mactrl.$state.includes('page.form-create') || mactrl.$state.includes('page.form-edit') || mactrl.$state.includes('page.form-answer')}"
      permission permission-only="['LAWYER', 'ADMIN']">
      <a href="" toggle-submenu><i class="zmdi zmdi-format-list-numbered"></i> Questionari</a>
      <ul>
        <li data-ng-class="{ 'active': mactrl.$state.includes('page.form-list') }"><a data-ui-sref-active="active" data-ui-sref="page.form-list" data-ng-click="mactrl.sidebarStat($event)">Inviati</a></li>
        <li><a data-ui-sref-active="active" data-ui-sref="page.form-draft" data-ng-click="mactrl.sidebarStat($event)">Questionari</a></li>
      </ul>
    </li>

    <li data-ui-sref-active="active" permission permission-only="'CUSTOMER'">
      <a data-ui-sref="page.form-list" data-ng-click="mactrl.sidebarStat($event)">
        <i class="zmdi zmdi-format-list-numbered"></i> Questionari
      </a>
    </li>

    <li data-ui-sref-active="active" data-ng-class="{ 'active': mactrl.$state.includes('matters') || mactrl.$state.includes('page.retainer_agreement-details') || mactrl.$state.includes('page.retainer_agreement-create') || mactrl.$state.includes('page.retainer_agreement-list') ||  mactrl.$state.includes('page.retainer_agreement-edit') || mactrl.$state.includes('page.matter-list') || mactrl.$state.includes('page.matter-create') || mactrl.$state.includes('page.matter-edit') || mactrl.$state.includes('page.matter-details')}">
      <a data-ui-sref="page.matter-list" data-ng-click="mactrl.sidebarStat($event)">
        <i class="zmdi zmdi-file-text"></i> Pratiche
      </a>
    </li>

    <!-- <li data-ui-sref-active="active">
      <a data-ui-sref="page.documents" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-assignment"></i> Documenti</a>
    </li> -->

  </ul>
</div>
