<div class="sidebar-inner c-overflow">

  <div class="profile-menu" ng-if="isAuthenticated">
    <a href="" toggle-submenu>
      <div class="profile-pic">
        <img ng-src="{{current_user.avatar_url}}" default-src alt="">
      </div>
      <div class="profile-info">
        {{current_user.first_name}} {{current_user.last_name}}
        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <a data-ui-sref="profile.details({id: current_user.id})" data-ng-click="mactrl.sidebarStat($event)">
          <i class="zmdi zmdi-account"></i> Profilo
        </a>
      </li>
      <li>
        <a data-ui-sref="company.index" data-ng-click="mactrl.sidebarStat($event)">
          <i class="zmdi zmdi-accounts"></i> Aziende
        </a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-settings"></i> Impostazioni</a>
      </li>
      <li ng-controller="AuthenticationCtrl">
        <a href="" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
  </div>

  <ul class="main-menu">

    <!-- <li data-ui-sref-active="active">
      <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
    </li> -->

    <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('users') }"
      permission permission-only="['LAWYER', 'ADMIN']">
      <a href="" toggle-submenu><i class="zmdi zmdi-accounts"></i> Utenti</a>
      <ul>
        <li><a data-ui-sref-active="active" data-ui-sref="page.customer-list" data-ng-click="mactrl.sidebarStat($event)">Clienti</a></li>
        <li><a data-ui-sref-active="active" data-ui-sref="page.lawyer-list" data-ng-click="mactrl.sidebarStat($event)">Avvocati</a></li>
      </ul>
    </li>

    <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('users') }"
      permission permission-only="['LAWYER', 'ADMIN']">
      <a href="" toggle-submenu><i class="zmdi zmdi-format-list-numbered"></i> Questionari</a>
      <ul>
        <li><a data-ui-sref-active="active" data-ui-sref="page.form-list" data-ng-click="mactrl.sidebarStat($event)">Inviati</a></li>
        <li><a data-ui-sref-active="active" data-ui-sref="page.form-draft" data-ng-click="mactrl.sidebarStat($event)">Questionari</a></li>
      </ul>
    </li>

    <li data-ui-sref-active="active" permission permission-only="'CUSTOMER'">
      <a data-ui-sref="page.form-list" data-ng-click="mactrl.sidebarStat($event)">
        <i class="zmdi zmdi-format-list-numbered"></i> Questionari
      </a>
    </li>

    <li data-ui-sref-active="active">
      <a data-ui-sref="page.matter-list" data-ng-click="mactrl.sidebarStat($event)">
        <i class="zmdi zmdi-file-text"></i> Pratiche
      </a>
    </li>

    <li data-ui-sref-active="active" permission permission-only="'CUSTOMER'">
      <a data-ui-sref="page.retainer_agreement-list" data-ng-click="mactrl.sidebarStat($event)">
        <i class="zmdi zmdi-case"></i> Lettere di incarico
      </a>
    </li>

    <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('retainer_agreement') }"
      permission permission-only="['LAWYER', 'ADMIN']">
      <a href="" toggle-submenu><i class="zmdi zmdi-case"></i> Lettere di incarico</a>
      <ul>
        <li><a data-ui-sref-active="active" data-ui-sref="page.retainer_agreement-list" data-ng-click="mactrl.sidebarStat($event)">Attive</a></li>
        <li><a data-ui-sref-active="active" data-ui-sref="page.retainer_agreement-draft" data-ng-click="mactrl.sidebarStat($event)">Bozze</a></li>
      </ul>
    </li>

    <li data-ui-sref-active="active">
      <a data-ui-sref="page.invoices"><i class="zmdi zmdi-card"></i> Fatture</a>
    </li>

    <li data-ui-sref-active="active">
      <a data-ui-sref="page.documents" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-assignment"></i> Documenti</a>
    </li>

  </ul>
</div>
