<div class="row">
    <div class="col-sm-12">
      <div id="summary-box" class="card m-t-25">
        <div class="card-header ch-alt">
          <h2>Summary</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Servizio</th>
                  <th>Importo</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in matter.items" class="outputService">
                  <td>{{i.title}}</td>
                  <td>€ {{i.price | prettyNumber}}</td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td>Imponibile Prestazioni</td>
                  <td>€ {{total | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Rimborso spese generali (15%)</td>
                  <td>€ {{(total | percentage: 15) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Totale imponibile</td>
                  <td>€ {{(total + (total | percentage: 15)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Rivalsa parziale contributi previdenziali (4%)</td>
                  <td>€ {{((total + (total | percentage: 15)) | percentage: 4) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Totale imponibile</td>
                  <td>€ {{(total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <td>Iva (22%)</td>
                  <td>€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | prettyNumber}}</td>
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <th>
                    <span ng-if="matter.withholding_tax">Totale fattura</span>
                    <span ng-if="!matter.withholding_tax">Netto da Versare</span>
                  </th>
                  <th id="total">€ {{(total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.deposit > 0 && !matter.withholding_tax">
                  <th>Acconto</th>
                  <th id="total_acconto">€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | percentage: matter.deposit) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.deposit > 0 && !matter.withholding_tax">
                  <th>Saldo</th>
                  <th id="total_saldo">€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) | percentage: (100 - matter.deposit)) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.withholding_tax">
                  <td>Ritenuta d'acconto (-20% Totale Imponibile)</td>
                  <td>€ {{((total + (total | percentage: 15)) | percentage: 20) | prettyNumber}}</td>
                </tr>

                <tr ng-if="matter.withholding_tax">
                  <th>Netto da versare</th>
                  <th id="total_withholding_tax">€ {{((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) - ((total + (total | percentage: 15)) | percentage: 20)) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.deposit > 0 && matter.withholding_tax">
                  <th>Acconto</th>
                  <th id="total_withholding_tax_acconto">€ {{(((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) - ((total + (total | percentage: 15)) | percentage: 20)) | percentage: matter.deposit) | prettyNumber}}</th>
                </tr>

                <tr ng-if="matter.deposit > 0 && matter.withholding_tax">
                  <th>Saldo</th>
                  <th id="total_withholding_tax_saldo">€ {{(((total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) + (total + (total | percentage: 15) + ((total + (total | percentage: 15)) | percentage: 4) | percentage: 22)) - ((total + (total | percentage: 15)) | percentage: 20)) | percentage: (100 - matter.deposit)) | prettyNumber}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>