<div class="modal-header">
    <h4 class="modal-title">Choose a Payment Method</h4>
</div>
<div class="modal-body">
    <p>Choose a payment method</p>
    <div ng-show="!root">
	    <button class="btn btn-success btn-icon-text waves-effect" ng-click="payOnline()"><i class="zmdi zmdi-money"></i> Pay online</button>
	    <button class="btn btn-info btn-icon-text waves-effect" ng-click="payOffline()"><i class="zmdi zmdi-card"></i> Bank Transfer</button>
	  </div>



	  <!-- <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="line-height: 150px;"></div>
        <div>
            <span class="btn btn-info btn-file waves-effect">
                <span class="fileinput-new">Select image</span>
                <span class="fileinput-exists">Change</span>
                <input type="hidden" value="" name="..."><input type="file" name="">
            </span>
            <a href="#" class="btn btn-danger fileinput-exists waves-effect" data-dismiss="fileinput">Remove</a>
        </div>
    </div> -->

</div>
<div class="modal-footer">
    
</div>
