<!-- se lo vedesse gian !-->
<style>
  .choose-icons > div > div {
    cursor: pointer;
  }
</style>


<div class="card-body card-padding choose-icons" ng-click="choose($event)">
            <div class="row">
                <div class="col-sm-4" data-name="3d-rotation" uib-tooltip="f101"><p><i class="zmdi zmdi-3d-rotation zmdi-hc-fw"></i> <span>3d-rotation</span></p></div>

                <div class="col-sm-4" data-name="airplane-off" uib-tooltip="f102"><p><i class="zmdi zmdi-airplane-off zmdi-hc-fw"></i> <span>airplane-off</span></p></div>

                <div class="col-sm-4" data-name="airplane" uib-tooltip="f103"><p><i class="zmdi zmdi-airplane zmdi-hc-fw"></i> <span>airplane</span></p></div>

                <div class="col-sm-4" data-name="album" uib-tooltip="f104"><p><i class="zmdi zmdi-album zmdi-hc-fw"></i> <span>album</span></p></div>

                <div class="col-sm-4" data-name="archive" uib-tooltip="f105"><p><i class="zmdi zmdi-archive zmdi-hc-fw"></i> <span>archive</span></p></div>

                <div class="col-sm-4" data-name="assignment-account" uib-tooltip="f106"><p><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i> <span>assignment-account</span></p></div>

                <div class="col-sm-4" data-name="assignment-alert" uib-tooltip="f107"><p><i class="zmdi zmdi-assignment-alert zmdi-hc-fw"></i> <span>assignment-alert</span></p></div>

                <div class="col-sm-4" data-name="assignment-check" uib-tooltip="f108"><p><i class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> <span>assignment-check</span></p></div>

                <div class="col-sm-4" data-name="assignment-o" uib-tooltip="f109"><p><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> <span>assignment-o</span></p></div>

                <div class="col-sm-4" data-name="assignment-return" uib-tooltip="f10a"><p><i class="zmdi zmdi-assignment-return zmdi-hc-fw"></i> <span>assignment-return</span></p></div>

                <div class="col-sm-4" data-name="assignment-returned" uib-tooltip="f10b"><p><i class="zmdi zmdi-assignment-returned zmdi-hc-fw"></i> <span>assignment-returned</span></p></div>

                <div class="col-sm-4" data-name="assignment" uib-tooltip="f10c"><p><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> <span>assignment</span></p></div>

                <div class="col-sm-4" data-name="attachment-alt" uib-tooltip="f10d"><p><i class="zmdi zmdi-attachment-alt zmdi-hc-fw"></i> <span>attachment-alt</span></p></div>

                <div class="col-sm-4" data-name="attachment" uib-tooltip="f10e"><p><i class="zmdi zmdi-attachment zmdi-hc-fw"></i> <span>attachment</span></p></div>

                <div class="col-sm-4" data-name="audio" uib-tooltip="f10f"><p><i class="zmdi zmdi-audio zmdi-hc-fw"></i> <span>audio</span></p></div>

                <div class="col-sm-4" data-name="badge-check" uib-tooltip="f110"><p><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> <span>badge-check</span></p></div>

                <div class="col-sm-4" data-name="balance-wallet" uib-tooltip="f111"><p><i class="zmdi zmdi-balance-wallet zmdi-hc-fw"></i> <span>balance-wallet</span></p></div>

                <div class="col-sm-4" data-name="balance" uib-tooltip="f112"><p><i class="zmdi zmdi-balance zmdi-hc-fw"></i> <span>balance</span></p></div>

                <div class="col-sm-4" data-name="battery-alert" uib-tooltip="f113"><p><i class="zmdi zmdi-battery-alert zmdi-hc-fw"></i> <span>battery-alert</span></p></div>

                <div class="col-sm-4" data-name="battery-flash" uib-tooltip="f114"><p><i class="zmdi zmdi-battery-flash zmdi-hc-fw"></i> <span>battery-flash</span></p></div>

                <div class="col-sm-4" data-name="battery-unknown" uib-tooltip="f115"><p><i class="zmdi zmdi-battery-unknown zmdi-hc-fw"></i> <span>battery-unknown</span></p></div>

                <div class="col-sm-4" data-name="battery" uib-tooltip="f116"><p><i class="zmdi zmdi-battery zmdi-hc-fw"></i> <span>battery</span></p></div>

                <div class="col-sm-4" data-name="bike" uib-tooltip="f117"><p><i class="zmdi zmdi-bike zmdi-hc-fw"></i> <span>bike</span></p></div>

                <div class="col-sm-4" data-name="block-alt" uib-tooltip="f118"><p><i class="zmdi zmdi-block-alt zmdi-hc-fw"></i> <span>block-alt</span></p></div>

                <div class="col-sm-4" data-name="block" uib-tooltip="f119"><p><i class="zmdi zmdi-block zmdi-hc-fw"></i> <span>block</span></p></div>

                <div class="col-sm-4" data-name="boat" uib-tooltip="f11a"><p><i class="zmdi zmdi-boat zmdi-hc-fw"></i> <span>boat</span></p></div>

                <div class="col-sm-4" data-name="book-image" uib-tooltip="f11b"><p><i class="zmdi zmdi-book-image zmdi-hc-fw"></i> <span>book-image</span></p></div>

                <div class="col-sm-4" data-name="book" uib-tooltip="f11c"><p><i class="zmdi zmdi-book zmdi-hc-fw"></i> <span>book</span></p></div>

                <div class="col-sm-4" data-name="bookmark-outline" uib-tooltip="f11d"><p><i class="zmdi zmdi-bookmark-outline zmdi-hc-fw"></i> <span>bookmark-outline</span></p></div>

                <div class="col-sm-4" data-name="bookmark" uib-tooltip="f11e"><p><i class="zmdi zmdi-bookmark zmdi-hc-fw"></i> <span>bookmark</span></p></div>

                <div class="col-sm-4" data-name="brush" uib-tooltip="f11f"><p><i class="zmdi zmdi-brush zmdi-hc-fw"></i> <span>brush</span></p></div>

                <div class="col-sm-4" data-name="bug" uib-tooltip="f120"><p><i class="zmdi zmdi-bug zmdi-hc-fw"></i> <span>bug</span></p></div>

                <div class="col-sm-4" data-name="bus" uib-tooltip="f121"><p><i class="zmdi zmdi-bus zmdi-hc-fw"></i> <span>bus</span></p></div>

                <div class="col-sm-4" data-name="cake" uib-tooltip="f122"><p><i class="zmdi zmdi-cake zmdi-hc-fw"></i> <span>cake</span></p></div>

                <div class="col-sm-4" data-name="car-taxi" uib-tooltip="f123"><p><i class="zmdi zmdi-car-taxi zmdi-hc-fw"></i> <span>car-taxi</span></p></div>

                <div class="col-sm-4" data-name="car-wash" uib-tooltip="f124"><p><i class="zmdi zmdi-car-wash zmdi-hc-fw"></i> <span>car-wash</span></p></div>

                <div class="col-sm-4" data-name="car" uib-tooltip="f125"><p><i class="zmdi zmdi-car zmdi-hc-fw"></i> <span>car</span></p></div>

                <div class="col-sm-4" data-name="card-giftcard" uib-tooltip="f126"><p><i class="zmdi zmdi-card-giftcard zmdi-hc-fw"></i> <span>card-giftcard</span></p></div>

                <div class="col-sm-4" data-name="card-membership" uib-tooltip="f127"><p><i class="zmdi zmdi-card-membership zmdi-hc-fw"></i> <span>card-membership</span></p></div>

                <div class="col-sm-4" data-name="card-travel" uib-tooltip="f128"><p><i class="zmdi zmdi-card-travel zmdi-hc-fw"></i> <span>card-travel</span></p></div>

                <div class="col-sm-4" data-name="card" uib-tooltip="f129"><p><i class="zmdi zmdi-card zmdi-hc-fw"></i> <span>card</span></p></div>

                <div class="col-sm-4" data-name="case-check" uib-tooltip="f12a"><p><i class="zmdi zmdi-case-check zmdi-hc-fw"></i> <span>case-check</span></p></div>

                <div class="col-sm-4" data-name="case-download" uib-tooltip="f12b"><p><i class="zmdi zmdi-case-download zmdi-hc-fw"></i> <span>case-download</span></p></div>

                <div class="col-sm-4" data-name="case-play" uib-tooltip="f12c"><p><i class="zmdi zmdi-case-play zmdi-hc-fw"></i> <span>case-play</span></p></div>

                <div class="col-sm-4" data-name="case" uib-tooltip="f12d"><p><i class="zmdi zmdi-case zmdi-hc-fw"></i> <span>case</span></p></div>

                <div class="col-sm-4" data-name="cast-connected" uib-tooltip="f12e"><p><i class="zmdi zmdi-cast-connected zmdi-hc-fw"></i> <span>cast-connected</span></p></div>

                <div class="col-sm-4" data-name="cast" uib-tooltip="f12f"><p><i class="zmdi zmdi-cast zmdi-hc-fw"></i> <span>cast</span></p></div>

                <div class="col-sm-4" data-name="chart-donut" uib-tooltip="f130"><p><i class="zmdi zmdi-chart-donut zmdi-hc-fw"></i> <span>chart-donut</span></p></div>

                <div class="col-sm-4" data-name="chart" uib-tooltip="f131"><p><i class="zmdi zmdi-chart zmdi-hc-fw"></i> <span>chart</span></p></div>

                <div class="col-sm-4" data-name="city-alt" uib-tooltip="f132"><p><i class="zmdi zmdi-city-alt zmdi-hc-fw"></i> <span>city-alt</span></p></div>

                <div class="col-sm-4" data-name="city" uib-tooltip="f133"><p><i class="zmdi zmdi-city zmdi-hc-fw"></i> <span>city</span></p></div>

                <div class="col-sm-4" data-name="close-circle-o" uib-tooltip="f134"><p><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> <span>close-circle-o</span></p></div>

                <div class="col-sm-4" data-name="close-circle" uib-tooltip="f135"><p><i class="zmdi zmdi-close-circle zmdi-hc-fw"></i> <span>close-circle</span></p></div>

                <div class="col-sm-4" data-name="close" uib-tooltip="f136"><p><i class="zmdi zmdi-close zmdi-hc-fw"></i> <span>close</span></p></div>

                <div class="col-sm-4" data-name="cocktail" uib-tooltip="f137"><p><i class="zmdi zmdi-cocktail zmdi-hc-fw"></i> <span>cocktail</span></p></div>

                <div class="col-sm-4" data-name="code-setting" uib-tooltip="f138"><p><i class="zmdi zmdi-code-setting zmdi-hc-fw"></i> <span>code-setting</span></p></div>

                <div class="col-sm-4" data-name="code-smartphone" uib-tooltip="f139"><p><i class="zmdi zmdi-code-smartphone zmdi-hc-fw"></i> <span>code-smartphone</span></p></div>

                <div class="col-sm-4" data-name="code" uib-tooltip="f13a"><p><i class="zmdi zmdi-code zmdi-hc-fw"></i> <span>code</span></p></div>

                <div class="col-sm-4" data-name="coffee" uib-tooltip="f13b"><p><i class="zmdi zmdi-coffee zmdi-hc-fw"></i> <span>coffee</span></p></div>

                <div class="col-sm-4" data-name="collection-bookmark" uib-tooltip="f13c"><p><i class="zmdi zmdi-collection-bookmark zmdi-hc-fw"></i> <span>collection-bookmark</span></p></div>

                <div class="col-sm-4" data-name="collection-case-play" uib-tooltip="f13d"><p><i class="zmdi zmdi-collection-case-play zmdi-hc-fw"></i> <span>collection-case-play</span></p></div>

                <div class="col-sm-4" data-name="collection-folder-image" uib-tooltip="f13e"><p><i class="zmdi zmdi-collection-folder-image zmdi-hc-fw"></i> <span>collection-folder-image</span></p></div>

                <div class="col-sm-4" data-name="collection-image-o" uib-tooltip="f13f"><p><i class="zmdi zmdi-collection-image-o zmdi-hc-fw"></i> <span>collection-image-o</span></p></div>

                <div class="col-sm-4" data-name="collection-image" uib-tooltip="f140"><p><i class="zmdi zmdi-collection-image zmdi-hc-fw"></i> <span>collection-image</span></p></div>

                <div class="col-sm-4" data-name="collection-item-1" uib-tooltip="f141"><p><i class="zmdi zmdi-collection-item-1 zmdi-hc-fw"></i> <span>collection-item-1</span></p></div>

                <div class="col-sm-4" data-name="collection-item-2" uib-tooltip="f142"><p><i class="zmdi zmdi-collection-item-2 zmdi-hc-fw"></i> <span>collection-item-2</span></p></div>

                <div class="col-sm-4" data-name="collection-item-3" uib-tooltip="f143"><p><i class="zmdi zmdi-collection-item-3 zmdi-hc-fw"></i> <span>collection-item-3</span></p></div>

                <div class="col-sm-4" data-name="collection-item-4" uib-tooltip="f144"><p><i class="zmdi zmdi-collection-item-4 zmdi-hc-fw"></i> <span>collection-item-4</span></p></div>

                <div class="col-sm-4" data-name="collection-item-5" uib-tooltip="f145"><p><i class="zmdi zmdi-collection-item-5 zmdi-hc-fw"></i> <span>collection-item-5</span></p></div>

                <div class="col-sm-4" data-name="collection-item-6" uib-tooltip="f146"><p><i class="zmdi zmdi-collection-item-6 zmdi-hc-fw"></i> <span>collection-item-6</span></p></div>

                <div class="col-sm-4" data-name="collection-item-7" uib-tooltip="f147"><p><i class="zmdi zmdi-collection-item-7 zmdi-hc-fw"></i> <span>collection-item-7</span></p></div>

                <div class="col-sm-4" data-name="collection-item-8" uib-tooltip="f148"><p><i class="zmdi zmdi-collection-item-8 zmdi-hc-fw"></i> <span>collection-item-8</span></p></div>

                <div class="col-sm-4" data-name="collection-item-9-plus" uib-tooltip="f149"><p><i class="zmdi zmdi-collection-item-9-plus zmdi-hc-fw"></i> <span>collection-item-9-plus</span></p></div>

                <div class="col-sm-4" data-name="collection-item-9" uib-tooltip="f14a"><p><i class="zmdi zmdi-collection-item-9 zmdi-hc-fw"></i> <span>collection-item-9</span></p></div>

                <div class="col-sm-4" data-name="collection-item" uib-tooltip="f14b"><p><i class="zmdi zmdi-collection-item zmdi-hc-fw"></i> <span>collection-item</span></p></div>

                <div class="col-sm-4" data-name="collection-music" uib-tooltip="f14c"><p><i class="zmdi zmdi-collection-music zmdi-hc-fw"></i> <span>collection-music</span></p></div>

                <div class="col-sm-4" data-name="collection-pdf" uib-tooltip="f14d"><p><i class="zmdi zmdi-collection-pdf zmdi-hc-fw"></i> <span>collection-pdf</span></p></div>

                <div class="col-sm-4" data-name="collection-plus" uib-tooltip="f14e"><p><i class="zmdi zmdi-collection-plus zmdi-hc-fw"></i> <span>collection-plus</span></p></div>

                <div class="col-sm-4" data-name="collection-speaker" uib-tooltip="f14f"><p><i class="zmdi zmdi-collection-speaker zmdi-hc-fw"></i> <span>collection-speaker</span></p></div>

                <div class="col-sm-4" data-name="collection-text" uib-tooltip="f150"><p><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> <span>collection-text</span></p></div>

                <div class="col-sm-4" data-name="collection-video" uib-tooltip="f151"><p><i class="zmdi zmdi-collection-video zmdi-hc-fw"></i> <span>collection-video</span></p></div>

                <div class="col-sm-4" data-name="compass" uib-tooltip="f152"><p><i class="zmdi zmdi-compass zmdi-hc-fw"></i> <span>compass</span></p></div>

                <div class="col-sm-4" data-name="cutlery" uib-tooltip="f153"><p><i class="zmdi zmdi-cutlery zmdi-hc-fw"></i> <span>cutlery</span></p></div>

                <div class="col-sm-4" data-name="delete" uib-tooltip="f154"><p><i class="zmdi zmdi-delete zmdi-hc-fw"></i> <span>delete</span></p></div>

                <div class="col-sm-4" data-name="dialpad" uib-tooltip="f155"><p><i class="zmdi zmdi-dialpad zmdi-hc-fw"></i> <span>dialpad</span></p></div>

                <div class="col-sm-4" data-name="dns" uib-tooltip="f156"><p><i class="zmdi zmdi-dns zmdi-hc-fw"></i> <span>dns</span></p></div>

                <div class="col-sm-4" data-name="drink" uib-tooltip="f157"><p><i class="zmdi zmdi-drink zmdi-hc-fw"></i> <span>drink</span></p></div>

                <div class="col-sm-4" data-name="edit" uib-tooltip="f158"><p><i class="zmdi zmdi-edit zmdi-hc-fw"></i> <span>edit</span></p></div>

                <div class="col-sm-4" data-name="email-open" uib-tooltip="f159"><p><i class="zmdi zmdi-email-open zmdi-hc-fw"></i> <span>email-open</span></p></div>

                <div class="col-sm-4" data-name="email" uib-tooltip="f15a"><p><i class="zmdi zmdi-email zmdi-hc-fw"></i> <span>email</span></p></div>

                <div class="col-sm-4" data-name="eye-off" uib-tooltip="f15b"><p><i class="zmdi zmdi-eye-off zmdi-hc-fw"></i> <span>eye-off</span></p></div>

                <div class="col-sm-4" data-name="eye" uib-tooltip="f15c"><p><i class="zmdi zmdi-eye zmdi-hc-fw"></i> <span>eye</span></p></div>

                <div class="col-sm-4" data-name="eyedropper" uib-tooltip="f15d"><p><i class="zmdi zmdi-eyedropper zmdi-hc-fw"></i> <span>eyedropper</span></p></div>

                <div class="col-sm-4" data-name="favorite-outline" uib-tooltip="f15e"><p><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i> <span>favorite-outline</span></p></div>

                <div class="col-sm-4" data-name="favorite" uib-tooltip="f15f"><p><i class="zmdi zmdi-favorite zmdi-hc-fw"></i> <span>favorite</span></p></div>

                <div class="col-sm-4" data-name="filter-list" uib-tooltip="f160"><p><i class="zmdi zmdi-filter-list zmdi-hc-fw"></i> <span>filter-list</span></p></div>

                <div class="col-sm-4" data-name="fire" uib-tooltip="f161"><p><i class="zmdi zmdi-fire zmdi-hc-fw"></i> <span>fire</span></p></div>

                <div class="col-sm-4" data-name="flag" uib-tooltip="f162"><p><i class="zmdi zmdi-flag zmdi-hc-fw"></i> <span>flag</span></p></div>

                <div class="col-sm-4" data-name="flare" uib-tooltip="f163"><p><i class="zmdi zmdi-flare zmdi-hc-fw"></i> <span>flare</span></p></div>

                <div class="col-sm-4" data-name="flash-auto" uib-tooltip="f164"><p><i class="zmdi zmdi-flash-auto zmdi-hc-fw"></i> <span>flash-auto</span></p></div>

                <div class="col-sm-4" data-name="flash-off" uib-tooltip="f165"><p><i class="zmdi zmdi-flash-off zmdi-hc-fw"></i> <span>flash-off</span></p></div>

                <div class="col-sm-4" data-name="flash" uib-tooltip="f166"><p><i class="zmdi zmdi-flash zmdi-hc-fw"></i> <span>flash</span></p></div>

                <div class="col-sm-4" data-name="flip" uib-tooltip="f167"><p><i class="zmdi zmdi-flip zmdi-hc-fw"></i> <span>flip</span></p></div>

                <div class="col-sm-4" data-name="flower-alt" uib-tooltip="f168"><p><i class="zmdi zmdi-flower-alt zmdi-hc-fw"></i> <span>flower-alt</span></p></div>

                <div class="col-sm-4" data-name="flower" uib-tooltip="f169"><p><i class="zmdi zmdi-flower zmdi-hc-fw"></i> <span>flower</span></p></div>

                <div class="col-sm-4" data-name="font" uib-tooltip="f16a"><p><i class="zmdi zmdi-font zmdi-hc-fw"></i> <span>font</span></p></div>

                <div class="col-sm-4" data-name="fullscreen-alt" uib-tooltip="f16b"><p><i class="zmdi zmdi-fullscreen-alt zmdi-hc-fw"></i> <span>fullscreen-alt</span></p></div>

                <div class="col-sm-4" data-name="fullscreen-exit" uib-tooltip="f16c"><p><i class="zmdi zmdi-fullscreen-exit zmdi-hc-fw"></i> <span>fullscreen-exit</span></p></div>

                <div class="col-sm-4" data-name="fullscreen" uib-tooltip="f16d"><p><i class="zmdi zmdi-fullscreen zmdi-hc-fw"></i> <span>fullscreen</span></p></div>

                <div class="col-sm-4" data-name="functions" uib-tooltip="f16e"><p><i class="zmdi zmdi-functions zmdi-hc-fw"></i> <span>functions</span></p></div>

                <div class="col-sm-4" data-name="gas-station" uib-tooltip="f16f"><p><i class="zmdi zmdi-gas-station zmdi-hc-fw"></i> <span>gas-station</span></p></div>

                <div class="col-sm-4" data-name="gesture" uib-tooltip="f170"><p><i class="zmdi zmdi-gesture zmdi-hc-fw"></i> <span>gesture</span></p></div>

                <div class="col-sm-4" data-name="globe-alt" uib-tooltip="f171"><p><i class="zmdi zmdi-globe-alt zmdi-hc-fw"></i> <span>globe-alt</span></p></div>

                <div class="col-sm-4" data-name="globe-lock" uib-tooltip="f172"><p><i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> <span>globe-lock</span></p></div>

                <div class="col-sm-4" data-name="globe" uib-tooltip="f173"><p><i class="zmdi zmdi-globe zmdi-hc-fw"></i> <span>globe</span></p></div>

                <div class="col-sm-4" data-name="graduation-cap" uib-tooltip="f174"><p><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> <span>graduation-cap</span></p></div>

                <div class="col-sm-4" data-name="home" uib-tooltip="f175"><p><i class="zmdi zmdi-home zmdi-hc-fw"></i> <span>home</span></p></div>

                <div class="col-sm-4" data-name="hospital-alt" uib-tooltip="f176"><p><i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> <span>hospital-alt</span></p></div>

                <div class="col-sm-4" data-name="hospital" uib-tooltip="f177"><p><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> <span>hospital</span></p></div>

                <div class="col-sm-4" data-name="hotel" uib-tooltip="f178"><p><i class="zmdi zmdi-hotel zmdi-hc-fw"></i> <span>hotel</span></p></div>

                <div class="col-sm-4" data-name="hourglass-alt" uib-tooltip="f179"><p><i class="zmdi zmdi-hourglass-alt zmdi-hc-fw"></i> <span>hourglass-alt</span></p></div>

                <div class="col-sm-4" data-name="hourglass-outline" uib-tooltip="f17a"><p><i class="zmdi zmdi-hourglass-outline zmdi-hc-fw"></i> <span>hourglass-outline</span></p></div>

                <div class="col-sm-4" data-name="hourglass" uib-tooltip="f17b"><p><i class="zmdi zmdi-hourglass zmdi-hc-fw"></i> <span>hourglass</span></p></div>

                <div class="col-sm-4" data-name="http" uib-tooltip="f17c"><p><i class="zmdi zmdi-http zmdi-hc-fw"></i> <span>http</span></p></div>

                <div class="col-sm-4" data-name="image-alt" uib-tooltip="f17d"><p><i class="zmdi zmdi-image-alt zmdi-hc-fw"></i> <span>image-alt</span></p></div>

                <div class="col-sm-4" data-name="image-o" uib-tooltip="f17e"><p><i class="zmdi zmdi-image-o zmdi-hc-fw"></i> <span>image-o</span></p></div>

                <div class="col-sm-4" data-name="image" uib-tooltip="f17f"><p><i class="zmdi zmdi-image zmdi-hc-fw"></i> <span>image</span></p></div>

                <div class="col-sm-4" data-name="inbox" uib-tooltip="f180"><p><i class="zmdi zmdi-inbox zmdi-hc-fw"></i> <span>inbox</span></p></div>

                <div class="col-sm-4" data-name="invert-colors-off" uib-tooltip="f181"><p><i class="zmdi zmdi-invert-colors-off zmdi-hc-fw"></i> <span>invert-colors-off</span></p></div>

                <div class="col-sm-4" data-name="invert-colors" uib-tooltip="f182"><p><i class="zmdi zmdi-invert-colors zmdi-hc-fw"></i> <span>invert-colors</span></p></div>

                <div class="col-sm-4" data-name="key" uib-tooltip="f183"><p><i class="zmdi zmdi-key zmdi-hc-fw"></i> <span>key</span></p></div>

                <div class="col-sm-4" data-name="label-alt-outline" uib-tooltip="f184"><p><i class="zmdi zmdi-label-alt-outline zmdi-hc-fw"></i> <span>label-alt-outline</span></p></div>

                <div class="col-sm-4" data-name="label-alt" uib-tooltip="f185"><p><i class="zmdi zmdi-label-alt zmdi-hc-fw"></i> <span>label-alt</span></p></div>

                <div class="col-sm-4" data-name="label-heart" uib-tooltip="f186"><p><i class="zmdi zmdi-label-heart zmdi-hc-fw"></i> <span>label-heart</span></p></div>

                <div class="col-sm-4" data-name="label" uib-tooltip="f187"><p><i class="zmdi zmdi-label zmdi-hc-fw"></i> <span>label</span></p></div>

                <div class="col-sm-4" data-name="labels" uib-tooltip="f188"><p><i class="zmdi zmdi-labels zmdi-hc-fw"></i> <span>labels</span></p></div>

                <div class="col-sm-4" data-name="lamp" uib-tooltip="f189"><p><i class="zmdi zmdi-lamp zmdi-hc-fw"></i> <span>lamp</span></p></div>

                <div class="col-sm-4" data-name="landscape" uib-tooltip="f18a"><p><i class="zmdi zmdi-landscape zmdi-hc-fw"></i> <span>landscape</span></p></div>

                <div class="col-sm-4" data-name="layers-off" uib-tooltip="f18b"><p><i class="zmdi zmdi-layers-off zmdi-hc-fw"></i> <span>layers-off</span></p></div>

                <div class="col-sm-4" data-name="layers" uib-tooltip="f18c"><p><i class="zmdi zmdi-layers zmdi-hc-fw"></i> <span>layers</span></p></div>

                <div class="col-sm-4" data-name="library" uib-tooltip="f18d"><p><i class="zmdi zmdi-library zmdi-hc-fw"></i> <span>library</span></p></div>

                <div class="col-sm-4" data-name="link" uib-tooltip="f18e"><p><i class="zmdi zmdi-link zmdi-hc-fw"></i> <span>link</span></p></div>

                <div class="col-sm-4" data-name="lock-open" uib-tooltip="f18f"><p><i class="zmdi zmdi-lock-open zmdi-hc-fw"></i> <span>lock-open</span></p></div>

                <div class="col-sm-4" data-name="lock-outline" uib-tooltip="f190"><p><i class="zmdi zmdi-lock-outline zmdi-hc-fw"></i> <span>lock-outline</span></p></div>

                <div class="col-sm-4" data-name="lock" uib-tooltip="f191"><p><i class="zmdi zmdi-lock zmdi-hc-fw"></i> <span>lock</span></p></div>

                <div class="col-sm-4" data-name="mail-reply-all" uib-tooltip="f192"><p><i class="zmdi zmdi-mail-reply-all zmdi-hc-fw"></i> <span>mail-reply-all</span></p></div>

                <div class="col-sm-4" data-name="mail-reply" uib-tooltip="f193"><p><i class="zmdi zmdi-mail-reply zmdi-hc-fw"></i> <span>mail-reply</span></p></div>

                <div class="col-sm-4" data-name="mail-send" uib-tooltip="f194"><p><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i> <span>mail-send</span></p></div>

                <div class="col-sm-4" data-name="mall" uib-tooltip="f195"><p><i class="zmdi zmdi-mall zmdi-hc-fw"></i> <span>mall</span></p></div>

                <div class="col-sm-4" data-name="map" uib-tooltip="f196"><p><i class="zmdi zmdi-map zmdi-hc-fw"></i> <span>map</span></p></div>

                <div class="col-sm-4" data-name="menu" uib-tooltip="f197"><p><i class="zmdi zmdi-menu zmdi-hc-fw"></i> <span>menu</span></p></div>

                <div class="col-sm-4" data-name="money-box" uib-tooltip="f198"><p><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> <span>money-box</span></p></div>

                <div class="col-sm-4" data-name="money-off" uib-tooltip="f199"><p><i class="zmdi zmdi-money-off zmdi-hc-fw"></i> <span>money-off</span></p></div>

                <div class="col-sm-4" data-name="money" uib-tooltip="f19a"><p><i class="zmdi zmdi-money zmdi-hc-fw"></i> <span>money</span></p></div>

                <div class="col-sm-4" data-name="more-vert" uib-tooltip="f19b"><p><i class="zmdi zmdi-more-vert zmdi-hc-fw"></i> <span>more-vert</span></p></div>

                <div class="col-sm-4" data-name="more" uib-tooltip="f19c"><p><i class="zmdi zmdi-more zmdi-hc-fw"></i> <span>more</span></p></div>

                <div class="col-sm-4" data-name="movie-alt" uib-tooltip="f19d"><p><i class="zmdi zmdi-movie-alt zmdi-hc-fw"></i> <span>movie-alt</span></p></div>

                <div class="col-sm-4" data-name="movie" uib-tooltip="f19e"><p><i class="zmdi zmdi-movie zmdi-hc-fw"></i> <span>movie</span></p></div>

                <div class="col-sm-4" data-name="nature-people" uib-tooltip="f19f"><p><i class="zmdi zmdi-nature-people zmdi-hc-fw"></i> <span>nature-people</span></p></div>

                <div class="col-sm-4" data-name="nature" uib-tooltip="f1a0"><p><i class="zmdi zmdi-nature zmdi-hc-fw"></i> <span>nature</span></p></div>

                <div class="col-sm-4" data-name="navigation" uib-tooltip="f1a1"><p><i class="zmdi zmdi-navigation zmdi-hc-fw"></i> <span>navigation</span></p></div>

                <div class="col-sm-4" data-name="open-in-browser" uib-tooltip="f1a2"><p><i class="zmdi zmdi-open-in-browser zmdi-hc-fw"></i> <span>open-in-browser</span></p></div>

                <div class="col-sm-4" data-name="open-in-new" uib-tooltip="f1a3"><p><i class="zmdi zmdi-open-in-new zmdi-hc-fw"></i> <span>open-in-new</span></p></div>

                <div class="col-sm-4" data-name="palette" uib-tooltip="f1a4"><p><i class="zmdi zmdi-palette zmdi-hc-fw"></i> <span>palette</span></p></div>

                <div class="col-sm-4" data-name="parking" uib-tooltip="f1a5"><p><i class="zmdi zmdi-parking zmdi-hc-fw"></i> <span>parking</span></p></div>

                <div class="col-sm-4" data-name="pin-account" uib-tooltip="f1a6"><p><i class="zmdi zmdi-pin-account zmdi-hc-fw"></i> <span>pin-account</span></p></div>

                <div class="col-sm-4" data-name="pin-assistant" uib-tooltip="f1a7"><p><i class="zmdi zmdi-pin-assistant zmdi-hc-fw"></i> <span>pin-assistant</span></p></div>

                <div class="col-sm-4" data-name="pin-drop" uib-tooltip="f1a8"><p><i class="zmdi zmdi-pin-drop zmdi-hc-fw"></i> <span>pin-drop</span></p></div>

                <div class="col-sm-4" data-name="pin-help" uib-tooltip="f1a9"><p><i class="zmdi zmdi-pin-help zmdi-hc-fw"></i> <span>pin-help</span></p></div>

                <div class="col-sm-4" data-name="pin-off" uib-tooltip="f1aa"><p><i class="zmdi zmdi-pin-off zmdi-hc-fw"></i> <span>pin-off</span></p></div>

                <div class="col-sm-4" data-name="pin" uib-tooltip="f1ab"><p><i class="zmdi zmdi-pin zmdi-hc-fw"></i> <span>pin</span></p></div>

                <div class="col-sm-4" data-name="pizza" uib-tooltip="f1ac"><p><i class="zmdi zmdi-pizza zmdi-hc-fw"></i> <span>pizza</span></p></div>

                <div class="col-sm-4" data-name="plaster" uib-tooltip="f1ad"><p><i class="zmdi zmdi-plaster zmdi-hc-fw"></i> <span>plaster</span></p></div>

                <div class="col-sm-4" data-name="power-setting" uib-tooltip="f1ae"><p><i class="zmdi zmdi-power-setting zmdi-hc-fw"></i> <span>power-setting</span></p></div>

                <div class="col-sm-4" data-name="power" uib-tooltip="f1af"><p><i class="zmdi zmdi-power zmdi-hc-fw"></i> <span>power</span></p></div>

                <div class="col-sm-4" data-name="print" uib-tooltip="f1b0"><p><i class="zmdi zmdi-print zmdi-hc-fw"></i> <span>print</span></p></div>

                <div class="col-sm-4" data-name="puzzle-piece" uib-tooltip="f1b1"><p><i class="zmdi zmdi-puzzle-piece zmdi-hc-fw"></i> <span>puzzle-piece</span></p></div>

                <div class="col-sm-4" data-name="quote" uib-tooltip="f1b2"><p><i class="zmdi zmdi-quote zmdi-hc-fw"></i> <span>quote</span></p></div>

                <div class="col-sm-4" data-name="railway" uib-tooltip="f1b3"><p><i class="zmdi zmdi-railway zmdi-hc-fw"></i> <span>railway</span></p></div>

                <div class="col-sm-4" data-name="receipt" uib-tooltip="f1b4"><p><i class="zmdi zmdi-receipt zmdi-hc-fw"></i> <span>receipt</span></p></div>

                <div class="col-sm-4" data-name="refresh-alt" uib-tooltip="f1b5"><p><i class="zmdi zmdi-refresh-alt zmdi-hc-fw"></i> <span>refresh-alt</span></p></div>

                <div class="col-sm-4" data-name="refresh-sync-alert" uib-tooltip="f1b6"><p><i class="zmdi zmdi-refresh-sync-alert zmdi-hc-fw"></i> <span>refresh-sync-alert</span></p></div>

                <div class="col-sm-4" data-name="refresh-sync-off" uib-tooltip="f1b7"><p><i class="zmdi zmdi-refresh-sync-off zmdi-hc-fw"></i> <span>refresh-sync-off</span></p></div>

                <div class="col-sm-4" data-name="refresh-sync" uib-tooltip="f1b8"><p><i class="zmdi zmdi-refresh-sync zmdi-hc-fw"></i> <span>refresh-sync</span></p></div>

                <div class="col-sm-4" data-name="refresh" uib-tooltip="f1b9"><p><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> <span>refresh</span></p></div>

                <div class="col-sm-4" data-name="roller" uib-tooltip="f1ba"><p><i class="zmdi zmdi-roller zmdi-hc-fw"></i> <span>roller</span></p></div>

                <div class="col-sm-4" data-name="ruler" uib-tooltip="f1bb"><p><i class="zmdi zmdi-ruler zmdi-hc-fw"></i> <span>ruler</span></p></div>

                <div class="col-sm-4" data-name="scissors" uib-tooltip="f1bc"><p><i class="zmdi zmdi-scissors zmdi-hc-fw"></i> <span>scissors</span></p></div>

                <div class="col-sm-4" data-name="screen-rotation-lock" uib-tooltip="f1bd"><p><i class="zmdi zmdi-screen-rotation-lock zmdi-hc-fw"></i> <span>screen-rotation-lock</span></p></div>

                <div class="col-sm-4" data-name="screen-rotation" uib-tooltip="f1be"><p><i class="zmdi zmdi-screen-rotation zmdi-hc-fw"></i> <span>screen-rotation</span></p></div>

                <div class="col-sm-4" data-name="search-for" uib-tooltip="f1bf"><p><i class="zmdi zmdi-search-for zmdi-hc-fw"></i> <span>search-for</span></p></div>

                <div class="col-sm-4" data-name="search-in-file" uib-tooltip="f1c0"><p><i class="zmdi zmdi-search-in-file zmdi-hc-fw"></i> <span>search-in-file</span></p></div>

                <div class="col-sm-4" data-name="search-in-page" uib-tooltip="f1c1"><p><i class="zmdi zmdi-search-in-page zmdi-hc-fw"></i> <span>search-in-page</span></p></div>

                <div class="col-sm-4" data-name="search-replace" uib-tooltip="f1c2"><p><i class="zmdi zmdi-search-replace zmdi-hc-fw"></i> <span>search-replace</span></p></div>

                <div class="col-sm-4" data-name="search" uib-tooltip="f1c3"><p><i class="zmdi zmdi-search zmdi-hc-fw"></i> <span>search</span></p></div>

                <div class="col-sm-4" data-name="seat" uib-tooltip="f1c4"><p><i class="zmdi zmdi-seat zmdi-hc-fw"></i> <span>seat</span></p></div>

                <div class="col-sm-4" data-name="settings-square" uib-tooltip="f1c5"><p><i class="zmdi zmdi-settings-square zmdi-hc-fw"></i> <span>settings-square</span></p></div>

                <div class="col-sm-4" data-name="settings" uib-tooltip="f1c6"><p><i class="zmdi zmdi-settings zmdi-hc-fw"></i> <span>settings</span></p></div>

                <div class="col-sm-4" data-name="shield-check" uib-tooltip="f1c7"><p><i class="zmdi zmdi-shield-check zmdi-hc-fw"></i> <span>shield-check</span></p></div>

                <div class="col-sm-4" data-name="shield-security" uib-tooltip="f1c8"><p><i class="zmdi zmdi-shield-security zmdi-hc-fw"></i> <span>shield-security</span></p></div>

                <div class="col-sm-4" data-name="shopping-basket" uib-tooltip="f1c9"><p><i class="zmdi zmdi-shopping-basket zmdi-hc-fw"></i> <span>shopping-basket</span></p></div>

                <div class="col-sm-4" data-name="shopping-cart-plus" uib-tooltip="f1ca"><p><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i> <span>shopping-cart-plus</span></p></div>

                <div class="col-sm-4" data-name="shopping-cart" uib-tooltip="f1cb"><p><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i> <span>shopping-cart</span></p></div>

                <div class="col-sm-4" data-name="sign-in" uib-tooltip="f1cc"><p><i class="zmdi zmdi-sign-in zmdi-hc-fw"></i> <span>sign-in</span></p></div>

                <div class="col-sm-4" data-name="sort-amount-asc" uib-tooltip="f1cd"><p><i class="zmdi zmdi-sort-amount-asc zmdi-hc-fw"></i> <span>sort-amount-asc</span></p></div>

                <div class="col-sm-4" data-name="sort-amount-desc" uib-tooltip="f1ce"><p><i class="zmdi zmdi-sort-amount-desc zmdi-hc-fw"></i> <span>sort-amount-desc</span></p></div>

                <div class="col-sm-4" data-name="sort-asc" uib-tooltip="f1cf"><p><i class="zmdi zmdi-sort-asc zmdi-hc-fw"></i> <span>sort-asc</span></p></div>

                <div class="col-sm-4" data-name="sort-desc" uib-tooltip="f1d0"><p><i class="zmdi zmdi-sort-desc zmdi-hc-fw"></i> <span>sort-desc</span></p></div>

                <div class="col-sm-4" data-name="spellcheck" uib-tooltip="f1d1"><p><i class="zmdi zmdi-spellcheck zmdi-hc-fw"></i> <span>spellcheck</span></p></div>

                <div class="col-sm-4" data-name="storage" uib-tooltip="f1d2"><p><i class="zmdi zmdi-storage zmdi-hc-fw"></i> <span>storage</span></p></div>

                <div class="col-sm-4" data-name="store-24" uib-tooltip="f1d3"><p><i class="zmdi zmdi-store-24 zmdi-hc-fw"></i> <span>store-24</span></p></div>

                <div class="col-sm-4" data-name="store" uib-tooltip="f1d4"><p><i class="zmdi zmdi-store zmdi-hc-fw"></i> <span>store</span></p></div>

                <div class="col-sm-4" data-name="subway" uib-tooltip="f1d5"><p><i class="zmdi zmdi-subway zmdi-hc-fw"></i> <span>subway</span></p></div>

                <div class="col-sm-4" data-name="sun" uib-tooltip="f1d6"><p><i class="zmdi zmdi-sun zmdi-hc-fw"></i> <span>sun</span></p></div>

                <div class="col-sm-4" data-name="tab-unselected" uib-tooltip="f1d7"><p><i class="zmdi zmdi-tab-unselected zmdi-hc-fw"></i> <span>tab-unselected</span></p></div>

                <div class="col-sm-4" data-name="tab" uib-tooltip="f1d8"><p><i class="zmdi zmdi-tab zmdi-hc-fw"></i> <span>tab</span></p></div>

                <div class="col-sm-4" data-name="tag-close" uib-tooltip="f1d9"><p><i class="zmdi zmdi-tag-close zmdi-hc-fw"></i> <span>tag-close</span></p></div>

                <div class="col-sm-4" data-name="tag-more" uib-tooltip="f1da"><p><i class="zmdi zmdi-tag-more zmdi-hc-fw"></i> <span>tag-more</span></p></div>

                <div class="col-sm-4" data-name="tag" uib-tooltip="f1db"><p><i class="zmdi zmdi-tag zmdi-hc-fw"></i> <span>tag</span></p></div>

                <div class="col-sm-4" data-name="thumb-down" uib-tooltip="f1dc"><p><i class="zmdi zmdi-thumb-down zmdi-hc-fw"></i> <span>thumb-down</span></p></div>

                <div class="col-sm-4" data-name="thumb-up-down" uib-tooltip="f1dd"><p><i class="zmdi zmdi-thumb-up-down zmdi-hc-fw"></i> <span>thumb-up-down</span></p></div>

                <div class="col-sm-4" data-name="thumb-up" uib-tooltip="f1de"><p><i class="zmdi zmdi-thumb-up zmdi-hc-fw"></i> <span>thumb-up</span></p></div>

                <div class="col-sm-4" data-name="ticket-star" uib-tooltip="f1df"><p><i class="zmdi zmdi-ticket-star zmdi-hc-fw"></i> <span>ticket-star</span></p></div>

                <div class="col-sm-4" data-name="toll" uib-tooltip="f1e0"><p><i class="zmdi zmdi-toll zmdi-hc-fw"></i> <span>toll</span></p></div>

                <div class="col-sm-4" data-name="toys" uib-tooltip="f1e1"><p><i class="zmdi zmdi-toys zmdi-hc-fw"></i> <span>toys</span></p></div>

                <div class="col-sm-4" data-name="traffic" uib-tooltip="f1e2"><p><i class="zmdi zmdi-traffic zmdi-hc-fw"></i> <span>traffic</span></p></div>

                <div class="col-sm-4" data-name="translate" uib-tooltip="f1e3"><p><i class="zmdi zmdi-translate zmdi-hc-fw"></i> <span>translate</span></p></div>

                <div class="col-sm-4" data-name="triangle-down" uib-tooltip="f1e4"><p><i class="zmdi zmdi-triangle-down zmdi-hc-fw"></i> <span>triangle-down</span></p></div>

                <div class="col-sm-4" data-name="triangle-up" uib-tooltip="f1e5"><p><i class="zmdi zmdi-triangle-up zmdi-hc-fw"></i> <span>triangle-up</span></p></div>

                <div class="col-sm-4" data-name="truck" uib-tooltip="f1e6"><p><i class="zmdi zmdi-truck zmdi-hc-fw"></i> <span>truck</span></p></div>

                <div class="col-sm-4" data-name="turning-sign" uib-tooltip="f1e7"><p><i class="zmdi zmdi-turning-sign zmdi-hc-fw"></i> <span>turning-sign</span></p></div>

                <div class="col-sm-4" data-name="wallpaper" uib-tooltip="f1e8"><p><i class="zmdi zmdi-wallpaper zmdi-hc-fw"></i> <span>wallpaper</span></p></div>

                <div class="col-sm-4" data-name="washing-machine" uib-tooltip="f1e9"><p><i class="zmdi zmdi-washing-machine zmdi-hc-fw"></i> <span>washing-machine</span></p></div>

                <div class="col-sm-4" data-name="window-maximize" uib-tooltip="f1ea"><p><i class="zmdi zmdi-window-maximize zmdi-hc-fw"></i> <span>window-maximize</span></p></div>

                <div class="col-sm-4" data-name="window-minimize" uib-tooltip="f1eb"><p><i class="zmdi zmdi-window-minimize zmdi-hc-fw"></i> <span>window-minimize</span></p></div>

                <div class="col-sm-4" data-name="window-restore" uib-tooltip="f1ec"><p><i class="zmdi zmdi-window-restore zmdi-hc-fw"></i> <span>window-restore</span></p></div>

                <div class="col-sm-4" data-name="wrench" uib-tooltip="f1ed"><p><i class="zmdi zmdi-wrench zmdi-hc-fw"></i> <span>wrench</span></p></div>

                <div class="col-sm-4" data-name="zoom-in" uib-tooltip="f1ee"><p><i class="zmdi zmdi-zoom-in zmdi-hc-fw"></i> <span>zoom-in</span></p></div>

                <div class="col-sm-4" data-name="zoom-out" uib-tooltip="f1ef"><p><i class="zmdi zmdi-zoom-out zmdi-hc-fw"></i> <span>zoom-out</span></p></div>

            </div>
        </div>
