<div class="modal-header pb-23">
  <h4 class="modal-title"><i class="zmdi zmdi-account-add"></i> Import Template</h4>
</div>
<div class="modal-body import-matter-template">
  <div class="listview" ng-if="templates.length && !isLoading">
    <a class="lv-item" href="" ng-click="addTemplate(t, importContext)" data-ng-repeat="t in templates">
      <div class="media">
        <div class="pull-left">
          <button class="btn bgm-lightblue waves-effect">
            <i class="zmdi zmdi-download"></i>
          </button>
        </div>
        <div class="media-body">
          <div class="lv-title">{{ t.title }}</div>
          <small class="lv-small">{{ t.description }}</small>
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-danger" ng-if="templates.length == 0 && !isLoading">
    Templates Empty!
  </div>
  <div class="isLoading" ng-if="isLoading">
    <div class="loader">
      <div class="loader-inner ball-pulse-sync">
        <div ng-repeat="i in [1,2,3]"></div>
      </div>
    </div>
  </div>
  <div class="pagination-wrp" ng-class="{'hide': totalTmplItems <= perPage }">
    <uib-pagination total-items="totalTmplItems" items-per-page="perPage" ng-model="currentTmplPage" ng-change="nextTemplate(currentTmplPage)"></uib-pagination>
  </div>
</div>
