<div class="modal-header pb-23">
  <h4 class="modal-title"><i class="zmdi zmdi-account-add"></i> Import Service</h4>
</div>
<div class="modal-body import-retainer-agreement-template">
  <form>
    <div class="input-group">
      <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" placeholder="Cerca.." ng-model="query" ng-change="searchServices(query)">
      </div>
    </div>
  </form>

  <div class="listview" ng-if="services.length && !isLoading">
    <a class="lv-item" href="" ng-click="addService(t)" data-ng-repeat="t in services">
      <div class="media">
        <div class="pull-left">
          <button class="btn bgm-lightblue waves-effect">
            <i class="zmdi zmdi-download"></i>
          </button>
        </div>
        <div class="media-body">
          <div class="lv-title">{{ t.title }}</div>
          <small class="lv-small">{{ t.description }}</small>
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-danger" ng-if="services.length == 0 && !isLoading">
    Services Empty!
  </div>
  <div class="isLoading" ng-if="isLoading">
    <div class="loader">
      <div class="loader-inner ball-pulse-sync">
        <div ng-repeat="i in [1,2,3]"></div>
      </div>
    </div>
  </div>
  <div class="pagination-wrp" ng-class="{'hide': totalSrvItems <= perPage }">
    <uib-pagination total-items="totalSrvItems" items-per-page="perPage" ng-model="currentSrvPage" ng-change="nextService(currentSrvPage)"></uib-pagination>
  </div>
</div>
