<div class="pb-23">

  <div ng-show="creatingCompany || creatingUser">
    <div class="container" style="width: 100%;">
      <div class="block-header">
        <h2><small><a href="javascript:void(0)" ng-click="creatingCompany = false; creatingUser = false;"><i class="zmdi zmdi-arrow-back"></i> Indietro</a></small></h2>
      </div>
    </div>
    <div ng-include="'views/pages/company.html'" ng-controller="createCompany" ng-if="creatingCompany"></div>
    <div ng-include="'views/modals/newUser.html'" ng-controller="createUser" ng-if="creatingUser"></div>
  </div>

  <div class="container" style="width: 100%;" ng-show="!creatingCompany && !creatingUser">
    <div class="block-header">
      <h2>Ricerca utente
        <span ng-if="searchCompany">o persona giuridica</span>
        <small>Ricerca per nome o cognome un utente
          <span ng-if="searchCompany">o una persona giuridica per nome</span>
        </small>
      </h2>
      <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="Cerca per nome.." ng-change="search()" ng-model="searchForm.query">
        </div>
      </div>
    </div>

    <div class="card" id="profile-main">
      <div class="pm-overview c-overflow" ng-if="currentCursor">
        <div class="pmo-pic">
          <div class="p-relative">
            <a href="">
              <img class="img-responsive" src="{{currentCursor.avatar_url || '/images/avatar/3.png'}}" alt="">
            </a>
          </div>
          <div class="pmo-stat">
            <h2 class="m-0 c-white">{{currentCursor.first_name || currentCursor.name}} {{currentCursor.last_name}}</h2>
          </div>
        </div>

        <div class="pmo-block pmo-contact hidden-xs">
          <h2>Contatti</h2>
          <ul>
            <li ng-if="currentCursor.vat"><i class="zmdi zmdi-balance"></i> {{ currentCursor.vat }}</li>
            <li ng-if="currentCursor.phone"><i class="zmdi zmdi-phone"></i> {{ currentCursor.phone }}</li>
            <li ng-if="currentCursor.mobile_phone"><i class="zmdi zmdi-smartphone-android"></i> {{ currentCursor.mobile_phone }}</li>
            <li ng-if="currentCursor.email"><i class="zmdi zmdi-email"></i> {{ currentCursor.email }}</li>
            <li ng-if="currentCursor.address">
              <i class="zmdi zmdi-pin"></i>
              <address class="m-b-0">
                {{ currentCursor.address }}.<br/>
              </address>
            </li>
          </ul>
          <h2 class="m-t-15" ng-if="currentCursor.owners">Persone</h2>
          <span ng-if="currentCursor.users"><strong>Proprietari:</strong><br/><a ng-repeat="r in currentCursor.users" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != currentCursor.users.length - 1">,&nbsp;</span></a><span ng-if="currentCursor.users.length == 0">Errore</span></span>
          <span ng-if="currentCursor.owners"><br/><br/><strong>Collaboratori:</strong><br/><a ng-repeat="r in currentCursor.owners" ui-sref="profile.details({id: r.id})">{{r.first_name}} {{r.last_name}}<span ng-if="$index != currentCursor.owners.length - 1">,&nbsp;</span></a><span ng-if="currentCursor.owners.length == 0">Nessun collaboratore</span></span>
        </div>
      </div>

      <div class="pm-body clearfix" style="padding-left: {{currentCursor ? '300px' : '0px'}}">
        <ul class="tab-nav tn-justified">
          <li class="btn-wave" ng-class="{'active': showUser}"><a ng-show="searchCompany" href="javascript:void(0);" ng-init="showUser = true;" ng-click="showUser = true; showCompany = false">Utenti</a></li>
          <li class="btn-wave" ng-class="{'active': showCompany}" ng-show="searchCompany"><a href="javascript:void(0);" ng-click="showUser = false; showCompany = true">Aziende</a></li>
        </ul>
        <div ng-show="showUser">
          <div class="pmb-block">
            <div class="p-header"></div>
            <div class="contacts c-profile clearfix row">
              <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="i in users" ng-mouseover="setCurrent(i)">
                <div class="c-item">
                  <a href="" class="ci-avatar">
                    <img ng-src="{{i.avatar_url || '/images/avatar/3.png'}}" alt="">
                  </a>
                  <div class="c-info">
                    <strong>{{i.first_name}} {{i.last_name}}</strong>
                    <small>{{i.email}}</small>
                  </div>
                  <div class="c-footer">
                    <button class="waves-effect" ng-click="return(i, 'user')"><i class="zmdi zmdi-person-add"></i> Seleziona</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="load-more">
              <h4>L'utente che stai cercando non è ancora registrato ?</h4>
              <a href="javascript:void(0);" class="m-t-15" ng-click="creatingUser = true"><i class="zmdi zmdi-plus"></i> Invitalo impostando il suo account</a>
            </div>
          </div>
        </div>

        <div ng-show="showCompany">
          <div class="pmb-block">
            <div class="contacts c-profile clearfix row">
              <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="i in companies" ng-mouseover="setCurrent(i)">
                <div class="c-item">
                  <a href="" class="ci-avatar">
                    <img ng-src="{{i.avatar_url || '/images/avatar/2.png'}}" alt="">
                  </a>

                  <div class="c-info">
                    <strong>{{i.name}}</strong>
                    <small>{{i.email}}</small>
                  </div>

                  <div class="c-footer">
                    <button class="waves-effect" ng-click="return(i, 'company')"><i class="zmdi zmdi-person-add"></i> Seleziona</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="load-more">
              <h4>L'azienda che stai cercando non è ancora registrata ?</h4>
              <a href="javascript:void(0);" class="m-t-15" ng-click="creatingCompany = true"><i class="zmdi zmdi-plus"></i> Crea azienda</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
