<div class="modal-header pb-23">
  <h4 class="modal-title"><i class="zmdi zmdi-mail-send"></i> Invia questionario</h4>
</div>
<div class="modal-body send-retainer-agreement-template">
  <form ng-submit="sendFormTo(cUser)">
    <div class="form-group">
      <input type="text" ng-model="cUser" placeholder="Search a Customer" class="form-control"
             uib-typeahead="u as u.name for u in searchUser($viewValue)">
    </div>
    <div class="form-group m-t-10">
      <button type="submit" class="btn btn-orange btn-block waves-effect">Invia</button>
    </div>
  </form>
</div>
